@use "nachwuchs-form.variables" as *;

.#{nsp("nachwuchs-form")} {
  &__geschwisterkinder {
    list-style: none;
    margin: 0;
    padding: 0;

    & li {
      margin-bottom: px-to-rem($spacer-xl);
    }

    &-delete {
      margin-top: px-to-rem($spacer);
    }
  }
}
