@use "nachwuchs-form.variables" as *;

.#{nsp("nachwuchs-form")} {
  &__geschwisterkinder {
    list-style: none;
    margin: 0;
    padding: 0;

    & li {
      @apply mb-32;
    }

    &-delete {
      @apply mt-16;
    }
  }
}
