@forward "src/globals/scss";
@use "src/globals/scss" as egr;

$form-field-group-spacing: egr.rem(egr.$spacer-xl) !default;
$form-field-group-headline-spacing: egr.rem(egr.$spacer) !default;

$form-field-group-headline-font-weight: bold !default;
$form-field-group-description-spacing: egr.rem(egr.$spacer) !default;
