@use "rechner-form.variables" as *;

.#{nsp("rechner-form")} {
  &__actions {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    flex-flow: row wrap;
    row-gap: px-to-rem($spacer);
    margin-top: px-to-rem($spacer-s);
  }

  &__add-action {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: px-to-rem($spacer-xl);
  }

  &__zeitraum-section {
    display: flex;
    flex-direction: column;
    @media (min-width: $breakpoint-desktop) {
      max-width: 75%;
    }
  }

  &__zeitraum {
    margin-bottom: px-to-rem($spacer);
  }

  &__einkommen {
    margin-bottom: px-to-rem($spacer);
  }

  &__remove-action {
    margin-bottom: px-to-rem($spacer-xl);
    display: flex;
    align-items: flex-start;
    flex-direction: column;
  }
}
