@use "toast.variables" as *;
@use "src/globals/scss" as egr;

##{nsp("toast")} {
  position: relative;

  @media print {
    display: none;
  }
}

.#{nsp("toast")} {
  position: fixed;
  width: 100%;
  left: 0;
  bottom: 0;
  text-align: center;
  color: #fff;
  background-color: #c40046;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  padding: egr.px-to-rem(9);
  transform: translateY(100%);
  transition: all 0.3s;

  &--active {
    transform: translateY(0);
  }
}
