@use "label-counter.variables" as *;

.#{nsp("label-counter")} {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: $label-counter--gap;

  &__label {
    font-weight: 700;
  }

  & > * {
    line-height: px-to-rem(40);
    margin: 0;
    text-align: center;
  }
}
