{
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:react/jsx-runtime",
    "plugin:react-hooks/recommended",
    "plugin:prettier/recommended",
    "plugin:jsx-a11y/recommended",
    "plugin:tailwindcss/recommended",
    "plugin:import/recommended",
    "plugin:deprecation/recommended",
    "plugin:vitest-globals/recommended",
  ],
  "rules": {
    "@typescript-eslint/no-unused-vars": "error",
    "tailwindcss/no-custom-classname": "off", // Enable when no BEM is used anymore.
    "import/first": "error",
    "import/newline-after-import": "error",
    "import/order": "error",
    "no-relative-import-paths/no-relative-import-paths": [
      "error",
      { "allowSameFolder": true, "rootDir": "src", "prefix": "@" }
    ],
    "react/function-component-definition": "error",
    "react/boolean-prop-naming": "error",
    "react/destructuring-assignment": "error",
    "react/hook-use-state": "error",
    "react/prefer-read-only-props": "error",
    "react/jsx-pascal-case": "error",
    "react/jsx-boolean-value": "error",
    "react/jsx-curly-brace-presence": "error",
    "react/jsx-no-leaked-render": "error",
    "react/jsx-no-constructed-context-values": "error",
    "react/button-has-type": "error",
  },
  "plugins": ["@typescript-eslint", "prettier", "jsx-a11y", "no-relative-import-paths"],
  "settings": {
    "import/resolver": {
      "typescript": true,
    },
    "react": {
      "version": "18.2",
    },
  },
  "env": {
    "browser": true,
    "commonjs": true,
    "es6": true,
    "node": true,
    "vitest-globals/env": true,
  },
  "parserOptions": {
    "project": "./tsconfig.json",
    "sourceType": "module",
    "ecmaVersion": 2020,
  },
  "parser": "@typescript-eslint/parser",
}
