{
  "plugins": [
    "stylelint-scss",
    "stylelint-selector-bem-pattern"
  ],
  "rules": {
    "plugin/selector-bem-pattern": {
      "preset": "bem",
      "presetOptions": {
        "namespace": "#\\{\\$nsp\\}"
      }
    }
  },
  "extends": [
    "stylelint-config-recommended",
    "stylelint-config-recommended-scss"
  ]
}
