.ds-preview-warning {
  background-color: white;
  color: red;
  border: 5px solid red;
  font-weight: bold;
  padding: 0.5rem;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media print {
  .ds-preview-warning {
    display: none;
  }
}

.ds-disable {
  opacity: 0.3;
  filter: grayscale(90%);
  pointer-events: none;
}
