.egr-einkommen-form {
  &__ausfuerliche-eingabe-text-et1,
  &__ausfuerliche-eingabe-text-et2 {
    @apply my-16 text-16;
  }

  &__per-month {
    @apply my-16 gap-16;
    display: flex;
    flex-flow: row wrap;

    legend {
      @apply mb-24;
    }

    ul {
      @apply pl-16;
      list-style: disc;
    }
  }

  &__taetigkeit-buttons {
    @apply gap-16;
    display: flex;
    flex-direction: column;
  }

  &__zeitraum {
    @apply mb-40;
  }
}
