@use "einkommen-form.variables" as *;

.#{nsp("einkommen-form")} {
  &__ausfuerliche-eingabe-text-et1,
  &__ausfuerliche-eingabe-text-et2 {
    font-size: $einkommen-form__ausfuerliche-eingabe-text--font-size;
    margin: rem($spacer) 0;
  }

  &__per-month {
    display: flex;
    flex-flow: row wrap;
    gap: rem($spacer);
    margin: rem($spacer) 0;

    @media (min-width: $breakpoint-desktop) {
      gap: rem($spacer-xl) rem($spacer);
    }
  }

  &__taetigkeit-buttons {
    display: flex;
    flex-direction: column;
    gap: rem($spacer);
  }

  &__zeitraum {
    margin-bottom: rem($spacer-xxl);
  }
}
