@use "einkommen-form.variables" as *;

.#{nsp("einkommen-form")} {
  &__ausfuerliche-eingabe-text-et1,
  &__ausfuerliche-eingabe-text-et2 {
    font-size: $einkommen-form__ausfuerliche-eingabe-text--font-size;
    margin: px-to-rem($spacer) 0;
  }

  &__per-month {
    display: flex;
    flex-flow: row wrap;
    gap: px-to-rem($spacer);
    margin: px-to-rem($spacer) 0;

    legend {
      margin-bottom: px-to-rem(27);
    }

    ul {
      list-style: disc;
      padding-left: px-to-rem(18);
    }
  }

  &__taetigkeit-buttons {
    display: flex;
    flex-direction: column;
    gap: px-to-rem($spacer);
  }

  &__zeitraum {
    margin-bottom: px-to-rem($spacer-xxl);
  }
}
