@use "spinner.variables" as *;

.#{nsp("spinner")} {
  position: absolute;
  top: calc(50% - $spinner-size);
  left: calc(50% - $spinner-size);
  width: $spinner-size;
  height: $spinner-size;
  background-color: $color-primary;
  animation: sk-rotateplane 1.2s infinite ease-in-out;

  @keyframes sk-rotateplane {
    0% {
      transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    }
    50% {
      transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    }
    100% {
      transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    }
  }
}
