@use "rechner.variables" as *;

.#{nsp("rechner")} {
  display: flex;
  flex-direction: column;
  gap: px-to-rem($spacer-xl);
  margin-bottom: px-to-rem($spacer-3xl);

  @media print {
    display: none;
  }

  &__description {
    ol {
      list-style-type: decimal;
      padding-left: px-to-rem($spacer-l);
    }
  }
}
