@use "rechner.variables" as *;

.#{nsp("rechner")} {
  display: flex;
  flex-direction: column;
  gap: px-to-rem($spacer-xl);
  margin-bottom: px-to-rem($spacer-3xl);

  @media print {
    display: none;
  }

  &__description {
    ol {
      list-style-type: decimal;
      padding-left: px-to-rem($spacer-l);
    }
  }
}

.#{nsp("rechner-card")} {
  &__header {
    padding: px-to-rem($spacer-l);
  }

  &-title {
    display: flex;
    align-items: center;
    justify-content: space-between;

    span {
      font-size: px-to-rem(24);
      line-height: px-to-rem(40);
    }

    &__text {
      display: flex;
      flex-flow: row wrap;
      align-items: center;
      word-wrap: break-word;
      hyphens: auto;
      gap: px-to-rem($spacer);
      justify-content: space-between;
    }
  }

  &__description {
    display: flex;
    flex-direction: column;
    gap: px-to-rem($spacer);
    padding: px-to-rem($spacer) px-to-rem($spacer) 0 px-to-rem($spacer);

    span {
      font-weight: 700;
    }

    li {
      position: relative;
      padding-left: px-to-rem($spacer-l);
    }

    li::before {
      content: "•";
      position: absolute;
      left: px-to-rem($spacer-s);
      font-size: px-to-rem(18);
    }
  }

  &__content {
    display: flex;
    flex-flow: row wrap;
    gap: px-to-rem($spacer-xxl);
    padding: px-to-rem($spacer-xl);
  }

  &--basiselterngeld {
    background-color: $color-BEG-light;

    .#{nsp("rechner-card-title")} {
      color: $color-BEG-base;
    }
  }

  &--elterngeldplus {
    background-color: $color-EGP-light;
    margin-top: px-to-rem($spacer-xl);

    .#{nsp("rechner-card-title")} {
      color: $color-EGP-base;
    }
  }
}
