@use "monatsplaner.variables" as *;

// Familienportal header
.header {
  @media print {
    display: none;
  }
}

.#{nsp("monatsplaner")} {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: px-to-rem($spacer);
  background-color: $color-off-white;

  &__tables {
    display: flex;
    flex-direction: column;

    th {
      height: px-to-rem(56); // make equal heigt in both ET tables
    }

    @media only screen and (min-width: $breakpoint-desktop) {
      flex-direction: row;
    }

    @media print {
      display: block;
    }
  }

  &__header {
    margin-bottom: px-to-rem($spacer-xl);
  }

  &__footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: px-to-rem($spacer-4xl);
    padding: px-to-rem($spacer);

    @media print {
      display: none;
    }
  }

  &__footer-buttons {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: px-to-rem($spacer);
    background-color: $color-off-white;
    z-index: 1;
  }

  &__blur {
    filter: blur(px-to-rem(2));

    @media print {
      display: none;
    }
  }

  &__sticky-elternteil thead {
    position: sticky;
    top: 0;
  }

  &__blur &__sticky-elternteil thead {
    position: unset;
    top: unset;
    z-index: unset;
  }

  &__button-group {
    display: flex;
    justify-content: space-between;
    margin-top: px-to-rem($spacer-3xl);
    background-color: $color-white;

    @media only screen and (max-width: $breakpoint-desktop) {
      flex-direction: column-reverse;
    }

    @media print {
      display: none;
    }

    &-backwards {
      width: px-to-rem(280);
      display: flex;
      justify-content: space-between;

      @media only screen and (max-width: $breakpoint-desktop) {
        width: auto;
        margin-top: px-to-rem($spacer);
      }
    }
  }
}
