.egr-custom-checkbox {
  @apply p-8 pl-0;
  display: flex;
  justify-content: space-between;

  &__input {
    opacity: 0;
    position: absolute;

    &:focus {
      + label::before {
        @apply outline outline-2 outline-primary;
      }
    }

    &:checked {
      + label::before {
        @apply border-primary;
      }

      + label::after {
        @apply bg-primary;
      }
    }

    &--error {
      + label::before {
        @apply border-danger;
      }

      &:checked {
        + label::after {
          @apply bg-danger;
        }
      }
    }
  }

  &__label {
    @apply pl-40;
    position: relative;

    &::before {
      @apply size-32 border border-solid border-primary bg-white;
      content: "";
      position: absolute;
      top: 0;
      left: 0;
    }

    &::after {
      @apply left-8 top-8 size-16;
      content: "";
      position: absolute;
    }

    &--error {
      @apply text-danger;
    }
  }
}
