@use "custom-checkbox.variables" as *;
@use "sass:math" as math;

.#{nsp("custom-checkbox")} {
  padding: $custom-checkbox--inner-space;
  display: flex;
  justify-content: space-between;

  &__input {
    opacity: 0;
    position: absolute;

    &:focus {
      + label::before {
        border: px-to-rem(2) solid $color-primary;
      }
    }

    &:checked {
      + label::before {
        border-color: $custom-checkbox__input--active--border-color;
      }
      + label::after {
        background: $custom-checkbox__input--fill-color;
      }
    }

    &--error {
      + label::before {
        border-color: $custom-checkbox__input--error--fill-color;
      }

      &:checked {
        + label::after {
          background: $custom-checkbox__input--error--fill-color;
        }
      }
    }
  }

  &__label {
    position: relative;
    padding-left: $custom-checkbox--size + $custom-checkbox--label-spacing;
    line-height: $custom-checkbox--size;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      border: $custom-checkbox--border-size solid
        $custom-checkbox__input--border-color;
      width: $custom-checkbox--size;
      height: $custom-checkbox--size;
      background-color: $custom-checkbox--background-color;
    }

    &::after {
      content: "";
      position: absolute;
      top: math.div($custom-checkbox--size - $custom-checkbox--fill-size, 2);
      left: math.div($custom-checkbox--size - $custom-checkbox--fill-size, 2);
      width: $custom-checkbox--fill-size;
      height: $custom-checkbox--fill-size;
    }

    &--error {
      color: $custom-checkbox--error--color;
    }
  }
}
