@forward "@/globals/scss";
@use "@/globals/scss" as egr;

$custom-checkbox--background-color: egr.$color-white !default;
$custom-checkbox--color: egr.$color-primary !default;
$custom-checkbox--error--color: egr.$color-danger !default;

$custom-checkbox__input--border-color: egr.$color-text !default;
$custom-checkbox__input--active--border-color: $custom-checkbox--color !default;
$custom-checkbox__input--fill-color: $custom-checkbox__input--active--border-color !default;
$custom-checkbox__input--error--fill-color: egr.$color-danger !default;
