.egr-custom-checkbox {
  @apply flex justify-between p-8 pl-0;

  &__input {
    @apply absolute opacity-0;

    &:focus {
      + label::before {
        @apply outline outline-2 outline-primary;
      }
    }

    &:checked {
      + label::before {
        @apply border-primary;
      }

      + label::after {
        @apply bg-primary;
      }
    }

    &--error {
      + label::before {
        @apply border-danger;
      }

      &:checked {
        + label::after {
          @apply bg-danger;
        }
      }
    }
  }

  &__label {
    @apply relative pl-40;

    &::before {
      @apply absolute left-0 top-0 size-32 border border-solid border-primary bg-white content-[""];
    }

    &::after {
      @apply absolute left-8 top-8 size-16 content-[""];
    }

    &--error {
      @apply text-danger;
    }
  }
}
