@use "custom-checkbox.variables" as *;
@use "sass:math" as math;

.#{nsp("custom-checkbox")} {
  @apply p-8 pl-0;
  display: flex;
  justify-content: space-between;

  &__input {
    opacity: 0;
    position: absolute;

    &:focus {
      + label::before {
        @apply outline outline-2 outline-primary;
      }
    }

    &:checked {
      + label::before {
        border-color: $custom-checkbox__input--active--border-color;
      }

      + label::after {
        background: $custom-checkbox__input--fill-color;
      }
    }

    &--error {
      + label::before {
        border-color: $custom-checkbox__input--error--fill-color;
      }

      &:checked {
        + label::after {
          background: $custom-checkbox__input--error--fill-color;
        }
      }
    }
  }

  &__label {
    @apply pl-40;
    position: relative;

    &::before {
      @apply size-32 border border-solid border-primary;
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      background-color: $custom-checkbox--background-color;
    }

    &::after {
      @apply left-8 top-8 size-16;
      content: "";
      position: absolute;
    }

    &--error {
      color: $custom-checkbox--error--color;
    }
  }
}
