@use "spinner.variables" as *;

.#{nsp("spinner")} {
  display: block;
  z-index: 99;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: none;

  &::after {
    position: fixed;
    top: 45%;
    left: 50%;
    width: 40px;
    height: 40px;
    background-color: $color-primary;
    animation: sk-rotateplane 1.2s infinite ease-in-out;
    content: "";
  }

  @keyframes sk-rotateplane {
    0% {
      transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    }
    50% {
      transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    }
    100% {
      transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    }
  }
}
