@forward "@/globals/scss/index";
@use "@/globals/scss/index" as egr;

$counter--border: 1px solid egr.$color-grey-dark !default;
$counter--error-color: egr.$color-danger !default;

$counter__label-text-color: egr.$color-text !default;

$counter__button--color: egr.$color-primary !default;
$counter__button--background-color: egr.$color-primary-light !default;
