@use "@/globals/scss" as *;

.#{nsp("counter")} {
  &__controls {
    @apply mt-16 gap-16;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  &__button {
    @apply size-32 bg-primary-light text-primary;
    border: none;
    border-radius: 50%;
    padding: 0;
  }

  &__input {
    @apply border border-solid border-grey-dark px-16 py-8;
    font-family: inherit;
    box-sizing: content-box;
    width: 1ch;

    /* Hide the spinbuttons of the number field */
    -moz-appearance: textfield;

    /* Firefox */
    /* Chrome, Safari, Edge, Opera */
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    &:focus {
      @apply outline outline-2 !outline-primary;
    }
  }

  &--error &__input {
    @apply border-danger;
  }

  &--error &__label {
    @apply text-danger;
  }
}
