@use "counter.variables" as *;

.#{nsp("counter")} {
  &__controls {
    @apply mt-16 gap-16;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  &__button {
    @apply size-32;
    border: none;
    color: $counter__button--color;
    background: $counter__button--background-color;
    border-radius: 50%;
    padding: 0;
  }

  &__input {
    @apply px-16 py-8;
    font-family: inherit;
    box-sizing: content-box;
    width: 1ch;
    border: $counter--border;

    /* Hide the spinbuttons of the number field */
    -moz-appearance: textfield;

    /* Firefox */
    /* Chrome, Safari, Edge, Opera */
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    &:focus {
      @apply outline outline-2 !outline-primary;
    }
  }

  &--error &__input {
    border-color: $counter--error-color;
  }

  &--error &__label {
    color: $counter--error-color;
  }
}
