.egr-counter {
  &__controls {
    @apply mt-16 flex flex-row items-center gap-16;
  }

  &__button {
    @apply size-32 rounded-full border-none bg-primary-light p-0 text-primary;
  }

  &__input {
    @apply box-content w-[1ch] border border-solid border-grey-dark px-16 py-8;

    &:focus {
      @apply outline outline-2 !outline-primary;
    }
  }

  &--error &__input {
    @apply border-danger;
  }

  &--error &__label {
    @apply text-danger;
  }
}
