@forward "src/globals/scss/index";
@use "src/globals/scss/index" as egr;

$counter--border: 1px solid egr.$color-grey-dark !default;
$counter--padding: egr.rem(egr.$spacer-s) egr.rem(egr.$spacer) !default;
$counter--margin: egr.rem(egr.$spacer) !default;
$counter--error-color: egr.$color-danger !default;

$counter__label-text-color: egr.$color-text !default;
$counter__control--gap: egr.rem(egr.$spacer) !default;

$counter__button--size: egr.rem(32) !default;
$counter__button--color: egr.$color-primary !default;
$counter__button--background-color: egr.$color-primary-light !default;
