@use "sass:math";
@use "src/globals/scss/variables" as *;

@function px-to-rem($pixel) {
  // Strong assumption of root font-size.
  // In general a bad practice that needs to be removed.
  @return math.div($pixel, 18) * 1rem;
}

@function nsp($classname, $namespace: $nsp) {
  @return $namespace + "-" + $classname;
}
