@use "functions/rem" as *;
@use "variables" as *;

@import "@digitalservice4germany/angie/fonts.css";

html,
body {
  font-size: 18px;
  line-height: px-to-rem(30);
}

body {
  font-family: BundesSansWeb, Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-style: normal;
}

h1 {
  font-size: px-to-rem(80);
  line-height: px-to-rem(110);
  font-weight: 700;
}

h2 {
  font-size: px-to-rem(40);
  line-height: px-to-rem(60);
  font-weight: 700;
  margin-bottom: 0.5rem;
}

h3 {
  font-size: px-to-rem(28);
  line-height: px-to-rem(44);
  font-weight: 400;
  margin-bottom: 0.5rem;
}

h4 {
  font-size: px-to-rem(24);
  line-height: px-to-rem(40);
  font-weight: 700;
}

h5 {
  font-size: px-to-rem(22);
  line-height: px-to-rem(27);
  font-weight: 500;
  margin-bottom: 0.5rem;
}

p {
  font-size: px-to-rem(18);
  line-height: px-to-rem(30);
  padding: px-to-rem($spacer-xs) 0;
}

button {
  font-size: px-to-rem(20);
  line-height: px-to-rem(20);
}

label {
  font-size: px-to-rem(18);
}

legend {
  font-size: px-to-rem(18);
  margin-bottom: 0.5rem;
}

input,
select {
  font-size: inherit;
  font-family: inherit;
  line-height: inherit;
}

@media only screen and (max-width: $breakpoint-tablet) {
  h2 {
    font-size: px-to-rem(28);
    line-height: px-to-rem(44);
    font-weight: 400;
  }

  h3 {
    font-size: px-to-rem(24);
    line-height: px-to-rem(40);
    font-weight: 700;
  }

  h4 {
    font-size: px-to-rem(18);
    line-height: px-to-rem(30);
    font-weight: 700;
  }
}
