// GLOBALS

$nsp: "egr";

// SPACINGS

$spacer-xs: 4 !default;
$spacer-s: 8 !default;
$spacer: 16 !default;
$spacer-l: 24 !default;
$spacer-xl: 32 !default;
$spacer-xxl: 40 !default;
$spacer-3xl: 64 !default;
$spacer-4xl: 80 !default;

// COLORS

$color-primary: #62396c !default;
$color-primary-light: #e4dfed !default;

$color-white: #ffffff !default;
$color-off-white: #f4f4f4 !default;

$color-grey: #d6d6d6 !default;
$color-grey-dark: #999999 !default;

$color-text: #000000 !default;
$color-text-light: #595959 !default;

$color-BEG-base: #004b76 !default;

$color-EGP-base: #80cdec !default;

$color-PSB-base: #66b692 !default;

$color-success: #056639 !default;
$color-danger: #b4081a !default;

$color-ZUD: #fcf9f4 !default;

// BREAKPOINTS

$breakpoint-tablet: 481px;
$breakpoint-desktop: 961px;
$breakpoint-desktop-xxl: 1170px;
