@forward "src/globals/scss";
@use "src/globals/scss" as egr;

$paragraph--size: egr.px-to-rem(18) !default;
$paragraph--line-height: egr.px-to-rem(30) !default;

$paragraph--size--large: egr.px-to-rem(24) !default;
$paragraph--line-height--large: egr.px-to-rem(40) !default;

$paragraph--font-weight--bold: 700 !default;
