@use "elternteil.variables" as *;

.#{nsp("monatsplaner--alleinerziehend")} .#{nsp("elternteil")} {
  table-layout: auto;
}

.#{nsp("elternteil")} {
  border-spacing: 0;
  border-collapse: separate;
  table-layout: fixed;
  width: 100%;

  @media only screen and (min-width: $breakpoint-desktop) {
    width: 50%;

    & + & {
      margin-left: px-to-rem($spacer);
    }
  }

  thead {
    background-color: $color-off-white;
    z-index: 0;
    text-align: left;
  }

  &__name {
    padding: px-to-rem($spacer);
  }

  &__lebensmonat {
    font-size: px-to-rem(14);
    word-wrap: break-word;
    line-height: px-to-rem(20);
    width: px-to-rem(80);
    padding: px-to-rem($spacer-s);

    &--hidden {
      @media only screen and (min-width: $breakpoint-desktop) {
        display: none;
      }
    }
  }

  &__th {
    font-weight: 700;
    padding: px-to-rem($spacer-s);
    border-bottom: px-to-rem(10) solid $color-off-white;

    &--basiselterngeld {
      color: $color-white;
      background: $color-BEG-base;
    }

    &--elterngeldplus {
      color: $color-text;
      background: $color-EGP-base;
    }

    &--partnerschaftsbonus {
      color: $color-text;
      background: $color-PSB-base;
    }
  }

  tbody > tr:nth-child(odd) > td {
    background-color: $color-white;
  }

  tbody > tr > td {
    height: px-to-rem(44);
    line-height: px-to-rem(44);
  }
}

.#{nsp("lebensmonate-cell")} {
  border-right: px-to-rem($spacer) solid $color-off-white;

  &--hidden {
    @media only screen and (min-width: $breakpoint-desktop) {
      display: none;
    }
  }

  &__lebensmonat-content {
    text-align: center;
    font-weight: 700;
  }
}
