@use "rechner-result.variables" as *;

.#{nsp("rechner-result")} {
  display: grid;
  grid-template:
    "over-14-month"
    "basiselterngeld"
    "elterngeldplus"
    "partnerschaftbonus" / max-content;
  gap: px-to-rem($spacer-xl);

  @media (min-width: $breakpoint-desktop) {
    grid-template:
      "over-14-month over-14-month over-14-month"
      "basiselterngeld elterngeldplus partnerschaftsbonus" / 0.6fr 0.4fr 0.4fr;
  }

  &__basiselterngeld {
    grid-area: basiselterngeld;
  }

  .egr-foot-note {
    grid-area: over-14-month;
  }

  &__elterngeldplus {
    grid-area: elterngeldplus;
  }

  &__partnerschaftsbonus {
    grid-area: partnerschaftsbonus;
  }

  &-error {
    display: flex;
    align-items: center;
    color: $color-danger;
    gap: px-to-rem($spacer-s);
    padding-left: px-to-rem($spacer-s);
    border-left: px-to-rem($spacer-s) solid $color-danger;
  }

  @media only screen and (max-width: $breakpoint-desktop) {
    display: flex;
    flex-direction: column;
  }
}
