@use "alert.variables" as *;
@use "../../../globals/scss/fonts/fonts.variables" as *;

.#{nsp("alert")} {
  display: flex;
  flex-direction: column;
  gap: px-to-rem(4);

  &--box {
    padding: px-to-rem($spacer-l) px-to-rem($spacer-xxl);
    background-color: #e5dfee; // TODO
    background-color: $color-primary-light;
    border-radius: px-to-rem(8);
    max-width: px-to-rem(800);
  }

  &__headline {
    display: flex;
    gap: px-to-rem(4);
    font-size: px-to-rem($font-size);
    font-weight: bold;
    line-height: 1.5;
    margin-bottom: 0;
  }

  &__icon {
    flex-shrink: 0;
    margin-top: px-to-rem(3);
  }

  & > p {
    font-weight: normal !important;
    line-height: 1.5;
    padding: 0;
  }

  & > p > a {
    font-weight: bold;
    text-decoration: underline;
  }
}
