.egr-alert {
  @apply gap-4 rounded bg-primary-light px-40 py-24;
  display: flex;
  flex-direction: column;

  &__title {
    @apply gap-4;
    display: flex;
    font-weight: bold;
    line-height: 1.5;
    margin-bottom: 0;
  }

  &__icon {
    @apply mt-4;
    flex-shrink: 0;
  }

  & > p {
    max-width: 70ch;
  }

  & > p > a {
    font-weight: bold;
    text-decoration: underline;
  }
}
