@use "alert.variables" as *;

.#{nsp("alert")} {
  display: flex;
  flex-direction: column;
  gap: px-to-rem(4);
  padding: px-to-rem($spacer-l) px-to-rem($spacer-xxl);
  background-color: #e5dfee;
  background-color: $color-primary-light;
  border-radius: px-to-rem(8);

  &__title {
    display: flex;
    gap: px-to-rem(4);
    font-size: px-to-rem(18);
    font-weight: bold;
    line-height: 1.5;
    margin-bottom: 0;
  }

  &__icon {
    flex-shrink: 0;
    margin-top: px-to-rem(3);
  }

  & > p {
    max-width: 70ch;
  }

  & > p > a {
    font-weight: bold;
    text-decoration: underline;
  }
}
