@use "../fonts/fonts.variables" as *;

$base-font-size: $font-size + px !default;

$font-family-sans: "BundesSans", Arial, Helvetica, sans-serif !default;
$font-family-serif: "BundesSerif", Georgia, serif !default;
