@use "split-item.variables" as *;

.#{nsp("split-item")} {
  width: 100%;
  background-color: $split-item--mobile-background-color;
  padding: $split-item--padding;

  & + & {
    margin-top: $split-item--gap;
  }

  @media (min-width: $split-item--desktop-breakpoint) {
    width: 50%;
    background-color: transparent;
    padding: 0 $split-item--gap 0 0;

    & + & {
      padding: 0 0 0 $split-item--gap;
      margin-top: 0;
    }

    &--has-divider {
      border-left: $split-item--divider-width solid $split-item--divider-color;
    }
  }
}
