@forward "src/globals/scss";
@use "src/globals/scss" as egr;

$split-item--gap: egr.rem(egr.$spacer-xl) !default;
$split-item--desktop-breakpoint: egr.$breakpoint-desktop !default;
$split-item--mobile-background-color: egr.$color-off-white !default;
$split-item--padding: egr.rem(egr.$spacer) !default;
$split-item--divider-color: egr.$color-grey !default;
$split-item--divider-width: egr.rem(1) !default;
