@use "./custom-date.variables.scss" as *;

.#{nsp("custom-date")} {
  display: flex;
  flex-direction: column;

  &__label {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: px-to-rem(450);
    color: $custom-date-label-text-color;
    margin-bottom: px-to-rem($spacer);
  }

  &__field {
    display: flex;
    flex-direction: column;
    max-width: px-to-rem(320);
    padding: $custom-date-padding;
    border: $custom-date-border;
    height: px-to-rem(64);
    margin-bottom: px-to-rem($spacer);

    &:focus-within {
      padding: $custom-date-padding-on-focus;
      border: px-to-rem(2) solid $color-primary;
    }

    &--error {
      border-color: $custom-date--error-color;
    }

    &--valid {
      border-color: $custom-date--valid-color;
    }
  }

  &__input {
    font-family: inherit;
    border: none;
    height: px-to-rem(30);

    &:focus {
      outline: none;
    }
  }

  &__placeholder {
    font-size: px-to-rem(14);
    line-height: px-to-rem(18);
    color: $color-text-light;
  }
}
