@use "./custom-date.variables.scss" as *;

.#{nsp("custom-date")} {
  display: flex;
  flex-direction: column;

  &__label {
    @apply mb-16;
    display: flex;
    justify-content: space-between;
    width: 100%;
    color: $custom-date-label-text-color;
  }

  &__field {
    @apply mb-16 max-w-[20rem] px-16 py-8;
    display: flex;
    flex-direction: column;
    border: $custom-date-border;

    &:focus-within {
      @apply outline outline-2 outline-primary;
    }

    &--error {
      border-color: $custom-date--error-color;
    }

    &--valid {
      border-color: $custom-date--valid-color;
    }
  }

  &__input {
    font-family: inherit;
    border: none;

    &:focus {
      outline: none;
    }
  }

  &__placeholder {
    @apply text-14;
    color: $color-text-light;
  }
}
