.egr-custom-date {
  @apply flex flex-col;

  &__label {
    @apply mb-16 flex w-full justify-between;
  }

  &__field {
    @apply mb-16 flex max-w-[20rem] flex-col border border-solid border-grey-dark px-16 py-8;

    &:focus-within {
      @apply outline outline-2 outline-primary;
    }

    &--error {
      @apply mb-0;
      @apply border-danger;
    }

    &--valid {
      @apply border-success;
    }
  }

  &__input {
    @apply border-none;

    &:focus {
      @apply outline-none;
    }
  }

  &__placeholder {
    @apply text-14 text-text-light;
  }
}
