@use "@/globals/scss" as *;

.#{nsp("custom-date")} {
  display: flex;
  flex-direction: column;

  &__label {
    @apply mb-16;
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  &__field {
    @apply mb-16 max-w-[20rem] border border-solid border-grey-dark px-16 py-8;
    display: flex;
    flex-direction: column;

    &:focus-within {
      @apply outline outline-2 outline-primary;
    }

    &--error {
      @apply border-danger;
    }

    &--valid {
      @apply border-success;
    }
  }

  &__input {
    font-family: inherit;
    border: none;

    &:focus {
      outline: none;
    }
  }

  &__placeholder {
    @apply text-14 text-text-light;
  }
}
