@use "rechner-result-table.variables" as *;

.#{nsp("rechner-result-table")} {
  border-spacing: px-to-rem(4);
  border-collapse: separate;
  table-layout: fixed;

  th,
  td {
    padding: px-to-rem($spacer-s);
  }

  th {
    font-weight: 400;
    line-height: px-to-rem(30);
    width: px-to-rem(220);
    vertical-align: top;
    text-align: left;

    @media only screen and (max-width: $breakpoint-desktop) {
      width: auto;
    }
  }

  &__lebensmonate {
    box-sizing: content-box;
    width: px-to-rem(40);
    word-wrap: break-word;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    border-right: px-to-rem(40) solid transparent;

    &--hidden {
      @media only screen and (min-width: $breakpoint-desktop) {
        display: none;
      }
    }
  }

  &__cell {
    &--hidden {
      @media only screen and (min-width: $breakpoint-desktop) {
        display: none;
      }
    }

    &--result {
      border: px-to-rem(1) solid;
      font-weight: 700;
    }
  }

  &--basiselterngeld &__cell {
    color: $color-white;
    background-color: $color-BEG-base;

    &--result {
      border-color: $color-BEG-base;
    }
  }

  &--elterngeldplus &__cell {
    background-color: $color-EGP-base;

    &--result {
      border-color: $color-EGP-base;
    }
  }

  &--partnerschaftsbonus &__cell {
    background-color: $color-PSB-base;

    &--result {
      border-color: $color-PSB-base;
    }
  }
  @media only screen and (max-width: $breakpoint-tablet) {
    th:first-child {
      -webkit-hyphens: auto;
      -ms-hyphens: auto;
      hyphens: auto;
    }
  }
}
