.anchor-top-top {
  top: anchor(top);
}

.anchor-right-left {
  right: anchor(left);
}

.anchor-flip-inline {
  /* stylelint-disable-next-line property-no-unknown */
  position-try-fallbacks: flip-inline;
}
