.no-spinner {
  -moz-appearance: textfield;
}

.no-spinner::-webkit-outer-spin-button,
.no-spinner::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Hide <summary> / <details> arrow on safari using tailwind list-none class */
/* Related: https://github.com/tailwindlabs/tailwindcss/issues/924 */
details > summary.list-none::-webkit-details-marker,
details > summary.list-none::marker {
  display: none;
}
