@tailwind base;
@tailwind utilities;

/* Enforce TailwindCSS it's `list-none` for Safari web-browser. */
#egr-root summary.list-none::-webkit-details-marker {
  display: none;
}

/* Fix conflict with styling of surrounding Familienportal styling */
#egr-root .invisible {
  display: inherit;
}
