#egr-root {
  @apply text-base;
}

@media print {
  #egr-root {
    /* Overwrite serif font set by Familienportal */
    @apply font-sans;
  }
}

@media only screen and (min-width: 640px) {
  #egr-root {
    /* make space for the "contact flap" of the Familienportal */
    @apply mr-56;
  }
}

#egr-root button,
#egr-root select,
#egr-root input {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

#egr-root h2 {
  @apply text-40;
}

@media only screen and (max-width: 481px) {
  #egr-root h2 {
    @apply text-28 font-regular;
  }
}

#egr-root h3 {
  @apply text-28 font-regular;
}

@media only screen and (max-width: 481px) {
  #egr-root h3 {
    @apply text-24 font-bold;
  }
}

#egr-root h4 {
  @apply text-24;
}

@media only screen and (max-width: 481px) {
  #egr-root h4 {
    @apply text-base;
  }
}

#egr-root h5 {
  @apply text-22;
}

#egr-root p {
  @apply py-4;
}

#egr-root button {
  @apply text-20;
}
