@use "foot-note.variables" as *;

.#{nsp("foot-note")} {
  font-size: px-to-rem(18);
  line-height: px-to-rem(30);
  padding: px-to-rem($spacer-xs) 0 px-to-rem($spacer-xs) px-to-rem($spacer);
  border-left: px-to-rem($spacer-s) solid $color-primary;
  display: flex;

  &__number {
    padding-right: px-to-rem($spacer-s);
  }
}

#egr-foot-note-for-required-fields {
  margin-bottom: px-to-rem(40);
}
