@use "foot-note.variables" as *;

.#{nsp("foot-note")} {
  font-size: rem(18);
  line-height: rem(30);
  padding: rem($spacer-xs) 0 rem($spacer-xs) rem($spacer);
  border-left: rem($spacer-s) solid $color-BEG-base;
  display: flex;

  @media only screen and (max-width: $breakpoint-desktop) {
    width: 100vw;
  }

  &__number {
    padding-right: rem($spacer-s);
  }
}

#egr-foot-note-for-required-fields {
  margin-bottom: rem(40);
}
