@use "custom-input.variables" as *;

.#{nsp("custom-input")} {
  display: flex;
  justify-content: space-between;

  &-question {
    display: flex;
    flex-direction: column;

    &__label {
      color: $custom-input-label-text-color;
    }

    &__input {
      padding: $custom-input-padding;
      margin-top: $custom-input-margin;
      border: $custom-input-border;

      &:focus {
        outline: px-to-rem(2) solid $color-primary !important;
      }

      &::placeholder {
        font-size: inherit;
        color: $color-text-light;
      }
    }
  }

  &--small &__input,
  &--small &-question__input {
    max-width: px-to-rem(184);
  }

  &--error &__input {
    outline-color: $custom-input--error-color;
  }

  &--valid &__input {
    outline-color: $custom-input--valid-color;
  }
}
