@use "custom-input.variables" as *;

.#{nsp("custom-input")} {
  display: flex;
  justify-content: space-between;

  &-question {
    display: flex;
    flex-direction: column;

    &__label {
      color: $custom-input-label-text-color;
    }

    &__input {
      @apply mt-16 px-16 py-8;
      border: $custom-input-border;

      &:focus {
        @apply outline outline-2 !outline-primary;
      }

      &::placeholder {
        font-size: inherit;
        color: $color-text-light;
      }
    }
  }

  &--error &__input {
    outline-color: $custom-input--error-color;
  }

  &--valid &__input {
    outline-color: $custom-input--valid-color;
  }
}
