@use "@/globals/scss" as *;

.#{nsp("custom-input")} {
  display: flex;
  justify-content: space-between;

  &-question {
    display: flex;
    flex-direction: column;

    &__input {
      @apply mt-16 max-w-[14.25rem] border border-solid border-grey-dark px-16 py-8;

      &:focus {
        @apply outline outline-2 !outline-primary;
      }

      &::placeholder {
        @apply text-text-light;
        font-size: inherit;
      }
    }
  }

  &--error &__input {
    @apply border-danger;
  }

  &--valid &__input {
    @apply border-success;
  }
}
