@use "counter.variables" as *;

.#{nsp("counter")} {
  &__controls {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: $counter__control--gap;
    margin-top: $counter--margin;
  }

  &__button {
    border: none;
    text-align: center;
    color: $counter__button--color;
    background: $counter__button--background-color;
    width: $counter__button--size;
    height: $counter__button--size;
    border-radius: 50%;
    padding: 0;
  }

  &__input {
    font-family: inherit;
    box-sizing: content-box;
    width: 1ch;
    padding: $counter--padding;
    border: $counter--border;

    /* Hide the spinbuttons of the number field */
    -moz-appearance: textfield; /* Firefox */
    /* Chrome, Safari, Edge, Opera */
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    &:focus {
      outline: rem(2) solid $color-primary;
    }
  }

  &--error &__input {
    border-color: $counter--error-color;
  }

  &--error &__label {
    color: $counter--error-color;
  }
}
