@forward "src/globals/scss";
@use "src/globals/scss" as egr;

$allgemeine-angaben-form-elternteil1-spacing: px-to-rem(
  egr.$spacer-xl
) !default;
$allgemeine-angaben-form-elternteil1-label-spacing: px-to-rem(
  egr.$spacer
) !default;
