always-auth = true
email = ${NPM_AUTH_EMAIL}

# Default Registry for all packages
registry = https://artifacts.init.de/artifactory/api/npm/egr-npm/
//artifacts.init.de/artifactory/api/npm/egr-npm/:_authToken=${NPM_AUTH_TOKEN}
//artifacts.init.de/artifactory/api/npm/egr-npm-local/:_authToken=${NPM_AUTH_TOKEN}
