.grid-template-for-single-elternteil {
  display: grid;
  grid-template-columns:
    minmax(0, 2fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 3fr)
    minmax(0, 1fr) minmax(0, 1fr) minmax(0, 2fr);
  grid-template-areas: "left-outside left-middle left-inside middle right-inside right-middle right-outside";

  .area-summary-lebensmonatszahl {
    grid-column: left-outside;
  }

  .area-summary-et1-gewaehlte-option {
    grid-column: left-inside / right-inside;
  }

  .area-summary-et1-elterngeldbezug {
    grid-column: right-middle / right-outside;
  }

  .area-content-description {
    grid-column: 1 / -1;
  }

  .area-content-et1-auswahl-fieldset {
    grid-column: left-middle / right-outside;
  }

  .area-content-et1-auswahl-input {
    grid-column: left-middle / right-middle;
  }

  .area-content-et1-auswahl-info {
    grid-column: right-outside;
  }

  .area-content-hinweis-zum-bonus {
    grid-column: left-middle / right-middle;
  }
}

.grid-template-for-two-elternteile {
  display: grid;
  grid-template-columns:
    minmax(0, 2fr) minmax(0, 3fr) minmax(0, 8fr) minmax(0, 3fr)
    minmax(0, 8fr) minmax(0, 3fr) minmax(0, 2fr);
  grid-template-areas: "et1-outside et1-middle et1-inside middle et2-inside et2-middle et2-outside";

  .area-summary-et1-elterngeldbezug {
    grid-column: et1-outside / et1-middle;
  }

  .area-summary-et1-gewaehlte-option {
    grid-column: et1-inside;
  }

  .area-summary-lebensmonatszahl {
    grid-column: middle;
  }

  .area-summary-et2-gewaehlte-option {
    grid-column: et2-inside;
  }

  .area-summary-et2-elterngeldbezug {
    grid-column: et2-middle / et2-outside;
  }

  .area-content-description {
    grid-column: 1 / -1;
  }

  .area-content-et1-auswahl-fieldset {
    grid-column: et1-outside / et1-inside;
  }

  .area-content-et1-auswahl-info {
    grid-column: et1-outside;
  }

  .area-content-et1-auswahl-input {
    grid-column: et1-middle / et1-inside;
  }

  .area-content-et2-auswahl-fieldset {
    grid-column: et2-inside / et2-outside;
  }

  .area-content-et2-auswahl-input {
    grid-column: et2-inside / et2-middle;
  }

  .area-content-et2-auswahl-info {
    grid-column: et2-outside;
  }

  .area-content-hinweis-zum-bonus {
    grid-column: et1-middle / et2-middle;
  }
}
