.grid-template-for-two-elternteile {
  display: grid;
  grid-template-columns: minmax(0, 3fr) minmax(0, 5fr) minmax(0, 2fr) minmax(
      0,
      5fr
    ) minmax(0, 3fr);
  grid-template-areas: "et1-outside et1-inside middle et2-inside et2-outside";
}

.grid-template-for-single-elternteil {
  display: grid;
  grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
  grid-template-areas: "middle et1-inside et1-outside";
}

.place-item-full-witdh {
  grid-column: 1 / -1;
}

.place-item-et1-outside {
  grid-area: et1-outside;
}

.place-item-et1-inside {
  grid-area: et1-inside;
}

.place-item-et1-full {
  grid-column-start: et1-outside;
  grid-column-end: et1-inside;
}

.place-item-middle {
  grid-area: middle;
}

.place-item-et2-inside {
  grid-area: et2-inside;
}

.place-item-et2-outside {
  grid-area: et2-outside;
}

.place-item-et2-full {
  grid-column-start: et2-inside;
  grid-column-end: et2-outside;
}
