@forward "src/globals/scss";
@use "src/globals/scss" as egr;

$paragraph--size: rem(18) !default;
$paragraph--line-height: rem(30) !default;

$paragraph--size--large: rem(24) !default;
$paragraph--line-height--large: rem(40) !default;

$paragraph--font-weight--bold: 700 !default;
