@use "@/globals/scss" as *;

.#{nsp("page")} {
  display: grid;
  grid-template:
    "sidebar"
    "title"
    "content" / minmax(auto, 64rem);

  @media (min-width: 1170px) {
    grid-template:
      "- title"
      "sidebar content" / max-content minmax(auto, 64rem);
  }

  &__sidebar {
    @apply mr-56;
    position: relative;
    grid-area: sidebar;

    @media (max-width: 1170px) {
      margin: 0;
    }

    @media print {
      display: none;
    }
  }

  &__title {
    @apply mb-40 mt-112;
    grid-area: title;

    @media print {
      display: none;
    }
  }

  &__subtitle {
    @apply mb-32;
    grid-area: subtitle;
  }

  &__content {
    grid-area: content;
  }

  @media print {
    display: block;

    table {
      page-break-inside: avoid;
      page-break-after: always;
    }

    thead {
      position: static;
      display: table-row-group;
    }
  }
}
