@use "page.variables" as *;

.#{nsp("page")} {
  display: grid;
  grid-template:
    "sidebar"
    "title"
    "content" / minmax(auto, px-to-rem(1030));

  @media (min-width: $breakpoint-desktop-xxl) {
    grid-template:
      "- title"
      "sidebar content" / max-content minmax(auto, px-to-rem(1030));
  }

  &__sidebar {
    position: relative;
    grid-area: sidebar;
    margin: $page-sidebar-spacing;

    @media (max-width: $breakpoint-desktop-xxl) {
      margin: 0;
    }

    @media print {
      display: none;
    }
  }

  &__title {
    grid-area: title;
    margin: $page-title-spacing;
    margin-top: px-to-rem(100);
    @media print {
      display: none;
    }
  }

  &__subtitle {
    grid-area: subtitle;
    margin: $page-subtitle-spacing;
  }

  &__content {
    grid-area: content;
  }

  @media print {
    display: block;

    table {
      page-break-inside: avoid;
      page-break-after: always;
    }

    thead {
      position: static;
      display: table-row-group;
    }
  }
}
