@forward "@/globals/scss";
@use "@/globals/scss" as egr;

$page-padding: egr.px-to-rem(egr.$spacer-s);
$page-sidebar-spacing: 0 egr.px-to-rem(egr.$spacer-3xl) 0 0;
$page-title-spacing: 0 0 egr.px-to-rem(egr.$spacer-xxl);
$page-subtitle-spacing: 0 0 egr.px-to-rem(egr.$spacer-xl);
