@forward "src/globals/scss";
@use "src/globals/scss" as egr;

$button__label--color: egr.$color-text !default;
$button--outline-color: egr.$color-primary !default;
$button--primary--border: egr.px-to-rem(1) solid egr.$color-primary !default;
$button--tertiary--border: egr.px-to-rem(1) solid egr.$color-tertiary !default;
$button--padding: egr.px-to-rem(egr.$spacer) egr.px-to-rem(egr.$spacer-l) !default;

$button--error--color: egr.$color-danger !default;
$button--valid--color: egr.$color-success !default;
