.egr-button {
  &,
  &:visited {
    @apply border border-solid border-primary px-16 px-24 py-16 text-20 text-white;
    transition: all 0.3s;
  }

  // Die Einschränkung ist notwendig, da sonst bei mobilen Geräten
  // nach dem Klick der :hover Style angewendet wurde
  @media (hover: hover) {
    &:hover {
      @apply bg-white;
    }
  }

  &:active,
  &:focus {
    @apply outline outline-2 outline-offset-2 outline-primary;
  }

  &--primary {
    &,
    &:visited {
      @apply bg-primary;
    }

    // Die Einschränkung ist notwendig, da sonst bei mobilen Geräten
    // nach dem Klick der :hover Style angewendet wurde
    @media (hover: hover) {
      &:hover {
        @apply bg-white text-primary;
      }
    }

    &:active,
    &:focus {
      @apply bg-white text-primary;
    }
  }

  &--secondary {
    &,
    &:visited {
      @apply bg-transparent text-primary;
    }

    // Die Einschränkung ist notwendig, da sonst bei mobilen Geräten
    // nach dem Klick der :hover Style angewendet wurde
    @media (hover: hover) {
      &:hover {
        @apply bg-primary text-white;
      }
    }

    &:active,
    &:focus {
      @apply bg-primary text-white;
    }
  }

  &--link {
    padding: 0;

    &,
    &:visited {
      @apply bg-transparent text-primary;
      border: none;

      span {
        text-decoration: underline;
      }
    }

    // Die Einschränkung ist notwendig, da sonst bei mobilen Geräten
    // nach dem Klick der :hover Style angewendet wurde
    @media (hover: hover) {
      &:hover {
        @apply bg-transparent;
      }
    }

    &:active,
    &:focus {
      outline: none;
    }
  }

  &--disabled {
    opacity: 0.5;
    pointer-events: none;
  }

  &__input {
    &:focus {
      @apply outline outline-2 !outline-primary;
    }
  }

  &--error &__input {
    @apply border-danger;
  }

  &--valid &__input {
    @apply border-success;
  }
}
