.egr-button {
  @apply border border-solid border-primary px-24 py-16 text-20 text-white transition-all duration-300;

  // Die Einschränkung ist notwendig, da sonst bei mobilen Geräten
  // nach dem Klick der :hover Style angewendet wurde
  @media (hover: hover) {
    &:hover {
      @apply bg-white;
    }
  }

  &:active,
  &:focus {
    @apply outline outline-2 outline-offset-2 outline-primary;
  }

  &--primary {
    @apply bg-primary;

    // Die Einschränkung ist notwendig, da sonst bei mobilen Geräten
    // nach dem Klick der :hover Style angewendet wurde
    @media (hover: hover) {
      &:hover {
        @apply bg-white text-primary;
      }
    }

    &:active,
    &:focus {
      @apply bg-white text-primary;
    }
  }

  &--secondary {
    @apply bg-transparent text-primary;

    // Die Einschränkung ist notwendig, da sonst bei mobilen Geräten
    // nach dem Klick der :hover Style angewendet wurde
    @media (hover: hover) {
      &:hover {
        @apply bg-primary text-white;
      }
    }

    &:active,
    &:focus {
      @apply bg-primary text-white;
    }
  }

  &--link {
    @apply border-none bg-transparent p-0 text-primary;

    span {
      @apply underline;
    }

    // Die Einschränkung ist notwendig, da sonst bei mobilen Geräten
    // nach dem Klick der :hover Style angewendet wurde
    @media (hover: hover) {
      &:hover {
        @apply bg-transparent;
      }
    }

    &:active,
    &:focus {
      @apply outline-none;
    }
  }

  &--disabled {
    @apply pointer-events-none opacity-50;
  }

  &__input {
    &:focus {
      @apply outline outline-2 !outline-primary;
    }
  }

  &--error &__input {
    @apply border-danger;
  }
}
