@use "button.variables" as *;

.#{nsp("button")} {
  &,
  &:visited {
    font-size: px-to-rem(20);
    color: $color-white;
    line-height: px-to-rem(24);
    padding: $button--padding;
    border: $button--primary--border;
    transition: all 0.3s;
  }

  // Die Einschränkung ist notwendig, da sonst bei mobilen Geräten
  // nach dem Klick der :hover Style angewendet wurde
  @media (hover: hover) {
    &:hover {
      background-color: $color-white;
    }
  }

  &:active,
  &:focus {
    outline: 2px solid $button--outline-color;
    outline-offset: 2px;
  }

  &--primary {
    &,
    &:visited {
      background-color: $color-primary;
    }

    // Die Einschränkung ist notwendig, da sonst bei mobilen Geräten
    // nach dem Klick der :hover Style angewendet wurde
    @media (hover: hover) {
      &:hover {
        color: $color-primary;
        background-color: $color-white;
      }
    }

    &:active,
    &:focus {
      color: $color-primary;
      background-color: $color-white;
    }
  }

  &--secondary {
    &,
    &:visited {
      color: $color-primary;
      background-color: transparent;
    }

    // Die Einschränkung ist notwendig, da sonst bei mobilen Geräten
    // nach dem Klick der :hover Style angewendet wurde
    @media (hover: hover) {
      &:hover {
        color: $color-white;
        background-color: $color-primary;
      }
    }

    &:active,
    &:focus {
      color: $color-white;
      background-color: $color-primary;
    }
  }

  &--link {
    padding: 0;

    &,
    &:visited {
      border: none;
      color: $color-primary;
      background-color: transparent;

      span {
        text-decoration: underline;
      }
    }

    // Die Einschränkung ist notwendig, da sonst bei mobilen Geräten
    // nach dem Klick der :hover Style angewendet wurde
    @media (hover: hover) {
      &:hover {
        background-color: transparent;
      }
    }

    &:active,
    &:focus {
      outline: none;
    }
  }

  &--disabled {
    opacity: 0.5;
    pointer-events: none;
  }

  &__input {
    &:focus {
      outline: px-to-rem(2) solid $color-primary;
    }
  }

  &--error &__input {
    border-color: $button--error--color;
  }

  &--valid &__input {
    border-color: $button--valid--color;
  }
}
