@use "custom-select.variables" as *;

.#{nsp("custom-select")} {
  display: flex;
  justify-content: space-between;
  width: 100%;

  &--auto-width &-question__control {
    width: auto;
  }

  &-question {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    &__label {
      color: $custom-select-label-text-color;
    }

    &__control {
      position: relative;
      width: 100%;
      min-width: max-content;
    }

    &__input {
      @apply mt-16 border border-solid border-grey-dark !px-16 py-8 pr-56;
      -moz-appearance: none;
      -webkit-appearance: none;
      appearance: none;
      background-color: $color-white;
      background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='22' viewBox='0 0 24 24' width='22' xmlns='http://www.w3.org/2000/svg'><path d='M12 2.29289L18.3536 8.64645L17.6464 9.35355L12 3.70711L6.35355 9.35355L5.64645 8.64645L12 2.29289Z'/><path d='M12 21.7071L5.64645 15.3536L6.35355 14.6464L12 20.2929L17.6464 14.6464L18.3536 15.3536L12 21.7071Z'/></svg>");
      background-repeat: no-repeat;
      background-position-x: calc(100% - 0.6875rem);
      background-position-y: 0.6875rem;
      -moz-padding-start: 0.4375rem; // Firefox generates small padding per default, this should reset it
      width: 100%;
      min-width: max-content;

      &:focus {
        @apply outline outline-2 outline-primary;
      }

      &::placeholder {
        font-size: inherit;
        color: $color-text-light;
      }

      &:disabled {
        cursor: default;
      }

      &--error {
        border-color: $color-danger;
      }
    }

    &__option {
      @apply px-16 py-8;
      background-color: $color-white;

      &:first-of-type {
        @apply p-40;
        color: $color-text-light;
      }

      &:checked {
        box-shadow: 0 0 10px 100px #1882a8 inset;
      }
    }
  }
}
