@use "@/globals/scss" as *;

.#{nsp("modal-popup")} {
  position: fixed;
  z-index: 100;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.75);
  display: flex;
  justify-content: center;

  &__info {
    @apply bottom-10 mx-20 p-32;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $color-primary-light;
    box-shadow: 0 0 0.5rem $color-text;
  }

  &__btn {
    @apply m-10;
  }
}
