@use "access-control.variables" as *;

.#{nsp("access-control")} {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: px-to-rem($spacer-xl);
    color: $color-primary;
    font-weight: 700;
    text-align: center;
    padding: px-to-rem($spacer-xl);
    margin: px-to-rem($spacer-3xl);
    background-color: $color-primary-light;
    z-index: 2;

    @media print {
      display: none;
    }

    @media only screen and (max-width: $breakpoint-tablet) {
      margin: px-to-rem($spacer-l);
    }
  }
}
