@forward "button-group";
@forward "custom-checkbox";
@forward "custom-date";
@forward "custom-input";
@forward "counter";
@forward "custom-radio";
@forward "custom-select";
@forward "foot-note";
@forward "form-field-group";
@forward "info-dialog";
@forward "split";
@forward "access-control";
@forward "rechner-result-table";
@forward "rechner-result";
@forward "rechner-form";
