@use "remaining-month.variables" as *;

.#{nsp("remaining-months")} {
  display: grid;
  background-color: $color-off-white;

  &__label {
    display: flex;
    flex-basis: 30ch;
    column-gap: px-to-rem(24);
    text-align: center;
    margin-bottom: 20px;

    > * {
      flex-basis: 13ch;
    }
  }

  &__basiselterngeld {
    background-color: $color-BEG-base;
    color: white;
  }

  &__elterngeldplus {
    background-color: $color-EGP-base;
  }

  &__partnerschaftsbonus {
    margin-left: auto;
    background-color: $color-PSB-base;
  }

  &__visual {
    display: flex;
    align-self: stretch;
  }
}
