@use "../variables" as *;
@use "../typo" as *;
@use "../mixins" as *;
@use "../variables" as variables;

// Reboot
// Normalization of HTML elements, to remove styles targeting
// irrelevant browsers while applying new styles.

// Document
// Change from `box-sizing: content-box` so that `width` is not affected by `padding` or `border`.
*,
*::before,
*::after {
  box-sizing: border-box;
}

// Body
// 1. Remove the margin in all browsers.
// 2. As a best practice, apply a default `background-color`.
// 3. Prevent adjustments of font size after orientation changes in iOS.
// 4. Change the default tap highlight to be completely transparent in iOS.

// scss-docs-start reboot-body-rules
body {
  color: variables.$color-text;
  text-align: left;
  margin: 0; // 1
  background-color: transparent; // 2
  -webkit-text-size-adjust: 100%; // 3
  -webkit-tap-highlight-color: rgba(#000, 0); // 4
  overflow-x: hidden;
}
// scss-docs-end reboot-body-rules

// Typography
// 1. Remove top margins from headings
//    By default, `<h1>`-`<h6>` all receive top and bottom margins. We nuke the top
//    margin for easier control within type scales as it avoids margin collapsing.
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0; // 1
}

// Reset margins on paragraphs
// Similarly, the top margin on `<p>`s get reset. However, we also reset the
// bottom margin to use `rem` units instead of `em`.
p {
  margin-top: 0;
  margin-bottom: 0;
}

// Abbreviations
// 1. Duplicate behavior to the data-bs-* attribute for our tooltip plugin
// 2. Add the correct text decoration in Chrome, Edge, Opera, and Safari.
// 3. Add explicit cursor to indicate changed behavior.
// 4. Prevent the text-decoration to be skipped.
abbr[title],
abbr[data-bs-original-title] {
  text-decoration: underline dotted; // 2
  cursor: help; // 3
  text-decoration-skip-ink: none; // 4
}

// Address
address {
  margin-bottom: 1rem;
  font-style: normal;
  line-height: inherit;
}

// Lists
ol,
ul,
dl {
  list-style: none;
  margin: 0;
  padding: 0;
}

dt {
  font-weight: normal;
}

// 1. Undo browser default
dd {
  margin-bottom: 0.5rem;
  margin-left: 0; // 1
}

// Blockquote
blockquote {
  margin: 0;
}

// Strong
// Add the correct font weight in Chrome, Edge, and Safari
b,
strong {
  font-weight: bold;
}

// Sub and Sup
// Prevent `sub` and `sup` elements from affecting the line height in
// all browsers.
sub,
sup {
  position: relative;
  line-height: 0;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}

// Links
a {
  color: variables.$color-text;
  text-decoration-line: none;

  &:hover,
  &:focus {
    color: variables.$color-text;
    text-decoration-line: none;
  }
}

// And undo these styles for placeholder links/named anchors (without href).
// It would be more straightforward to just use a[href] in previous block, but that
// causes specificity issues in many other styles that are too complex to fix.
// See https://github.com/twbs/bootstrap/issues/19402
a:not([href]):not([class]) {
  &,
  &:hover {
    color: inherit;
    text-decoration: none;
  }
}

code {
  word-wrap: break-word;

  // Streamline the style when inside anchors to avoid broken underline and more
  a > & {
    color: inherit;
  }
}

// 1. Remove browser default top margin
// 2. Reset browser default of `1em` to use `rem`s
// 3. Don't allow content to break outside
pre {
  display: block;
  margin-top: 0; // 1
  margin-bottom: 1rem; // 2
  overflow: auto; // 3

  // Account for some code outputs that place code tags in pre tags
  code {
    color: inherit;
    word-break: normal;
  }
}

// Figures
// Apply a consistent margin strategy (matches our type styles).
figure {
  margin: 0;
}

// Images and content
img,
svg {
  vertical-align: middle;
}

// Tables
// Prevent double borders
table {
  caption-side: bottom;
  border-collapse: collapse;
}

caption {
  text-align: left;
}

// 1. Removes font-weight bold by inheriting
// 2. Matches default `<td>` alignment by inheriting `text-align`.
// 3. Fix alignment for Safari
th {
  text-align: inherit; // 2
  text-align: -webkit-match-parent; // 3
}

thead,
tbody,
tfoot,
tr,
td,
th {
  border-color: inherit;
  border-style: solid;
  border-width: 0;
}

// Forms
// 1. Allow labels to use `margin` for spacing.
label {
  display: inline-block; // 1
}

button {
  border-radius: 0;
  font-size: inherit;
}

// 1. Remove the margin in Firefox and Safari
input,
button,
select,
optgroup,
textarea {
  margin: 0; // 1
  font-family: inherit;
  line-height: inherit;
}

// Remove the inheritance of text transform in Firefox
button,
select {
  text-transform: none;
}
// Set the cursor for non-`<button>` buttons
[role="button"] {
  cursor: pointer;
}

select {
  word-wrap: normal;

  // Undo the opacity change from Chrome
  &:disabled {
    opacity: 1;
  }
}

// Remove the dropdown arrow in Chrome from inputs built with datalists.
// See https://stackoverflow.com/a/54997118
[list]::-webkit-calendar-picker-indicator {
  display: none;
}

// 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
//    controls in Android 4.
// 2. Correct the inability to style clickable types in iOS and Safari.
// 3. Opinionated: add "hand" cursor to non-disabled button elements.
button,
[type="button"], // 1
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; // 2
}

// Explicitly remove focus outline in Chromium when it shouldn't be
// visible (e.g. as result of mouse click or touch tap). It already
// should be doing this automatically, but seems to currently be
// confused and applies its very visible two-tone outline anyway.
button:focus:not(:focus-visible) {
  outline: 0;
}

// Remove inner border and padding from Firefox, but don't restore the outline like Normalize.
::-moz-focus-inner {
  padding: 0;
  border-style: none;
}

// 1. Textareas should really only resize vertically so they don't break their (horizontal) containers.
textarea {
  resize: vertical; // 1
}

// 1. Browsers set a default `min-width: min-content;` on fieldsets,
//    unlike e.g. `<div>`s, which have `min-width: 0;` by default.
//    So we reset that to ensure fieldsets behave more like a standard block element.
//    See https://github.com/twbs/bootstrap/issues/12359
//    and https://html.spec.whatwg.org/multipage/#the-fieldset-and-legend-elements
// 2. Reset the default outline behavior of fieldsets so they don't affect page layout.
fieldset {
  min-width: 0; // 1
  padding: 0; // 2
  margin: 0; // 2
  border: 0; // 2
}

legend {
  float: left; // 1
  width: 100%;
  padding: 0;
  line-height: inherit;

  + * {
    clear: left; // 2
  }
}

::-webkit-datetime-edit-fields-wrapper,
::-webkit-datetime-edit-text,
::-webkit-datetime-edit-minute,
::-webkit-datetime-edit-hour-field,
::-webkit-datetime-edit-day-field,
::-webkit-datetime-edit-month-field,
::-webkit-datetime-edit-year-field {
  padding: 0;
}

::-webkit-inner-spin-button {
  height: auto;
}

[type="search"] {
  outline-offset: -2px; // 1
  -webkit-appearance: textfield; // 2
}

// Remove the inner padding in Chrome and Safari on macOS.
::-webkit-search-decoration {
  -webkit-appearance: none;
}

// Remove padding around color pickers in webkit browsers
::-webkit-color-swatch-wrapper {
  padding: 0;
}

// Correct element displays
output {
  display: inline-block;
}

// Remove border from iframe
iframe {
  border: 0;
}

// Summary
// 1. Add the correct display in all browsers
summary {
  display: list-item; // 1
  cursor: pointer;
}

// Progress
// Add the correct vertical alignment in Chrome, Firefox, and Opera.
progress {
  vertical-align: baseline;
}
