.egr-info-dialog {
  &__button {
    @apply border-none bg-transparent text-primary;
  }

  &-box {
    @apply absolute z-[100] flex flex-col rounded bg-primary-light py-10 pl-20 pr-56 shadow-lg;

    &__button {
      @apply absolute right-4 border-none bg-transparent text-primary;
    }

    @media (max-width: 481px) {
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 99;
      overflow: auto;

      width: auto !important;
      margin: 0 !important;

      &__button {
        @apply top-4;
      }
    }

    &--monatsplanner-et-one {
      @apply -mt-6 ml-20;

      button {
        @apply left-4;
        top: 0;
        right: auto;
      }

      p {
        @apply ml-32;
      }

      // add cutomized breakpoint when dialog shown for ET1 (right to the info button instead of left)
      @media (max-width: 640px) {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: auto;
        margin-left: 0;

        button {
          @apply right-4 top-4;
          left: auto;
        }

        p {
          margin-left: 0;
        }
      }
    }
  }

  @media (max-width: 961px) {
    @apply right-32;
  }
}
