@use "info-dialog.variables" as *;

.#{nsp("info-dialog")} {
  width: auto;
  height: auto;

  &__button {
    @include info-dialog-button;

    &--monatsplanner {
      color: $color-white;
    }
  }

  &-box {
    @apply rounded py-10 pl-20 pr-56;
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: 100;
    color: $color-text;
    background-color: $info-dialog--background-color;
    box-shadow: 0 0 0.625rem rgba(0, 0, 0, 0.3);

    &__button {
      @apply right-4;
      @include info-dialog-button;
      position: absolute;
      align-self: end;
    }

    @media (max-width: $breakpoint-tablet) {
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      overflow: auto;

      width: auto !important;
      margin: 0 !important;

      &__button {
        @apply top-4;
      }
    }

    &--monatsplanner-et-one {
      @apply -mt-6 ml-20;

      button {
        @apply left-4;
        top: 0;
        right: auto;
      }

      p {
        @apply ml-32;
      }

      // add cutomized breakpoint when dialog shown for ET1 (right to the info button instead of left)
      @media (max-width: 640px) {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: auto;
        margin-left: 0;

        button {
          @apply right-4 top-4;
          left: auto;
        }

        p {
          margin-left: 0;
        }
      }
    }
  }

  @media (max-width: $breakpoint-desktop) {
    @apply right-32;
  }

  &--monatsplanner {
    width: fit-content;
    margin: 0 auto;
  }
}
