.egr-info-dialog {
  &__button {
    @apply border-none bg-transparent text-primary;
  }

  &-box {
    @apply absolute z-[100] flex flex-col rounded bg-primary-light py-10 pl-20 pr-56 shadow-lg;

    &__button {
      @apply absolute right-4 border-none bg-transparent text-primary;
    }

    @media (max-width: 481px) {
      @apply fixed inset-0 z-[99] !w-full overflow-auto;

      &__button {
        @apply top-4;
      }
    }
  }

  @media (max-width: 961px) {
    @apply right-32;
  }
}
