@forward "@/globals/scss";
@use "@/globals/scss" as egr;

@mixin info-dialog-button {
  color: egr.$color-primary;
  background: none;
  border: none;
}

$info-dialog--background-color: egr.$color-primary-light;
