@use "monatsplaner-month.variables" as *;

.#{nsp("monatsplaner-month")} {
  width: 100%;
  user-select: none;

  button {
    display: inline-block;
    width: 100%;
    background: none;
    border: none;
    cursor: pointer;
    text-align: center;
    text-decoration: underline;
    color: inherit;
  }

  &:focus-within {
    outline: px-to-rem(1) solid $color-primary;
  }

  &--beg {
    color: $monatsplaner-month--beg--color;
  }

  &--beg#{&}--selected {
    @media only screen {
      color: $monatsplaner-month--beg--contrast-color;
      background-color: $monatsplaner-month--beg--color;
    }
  }

  &--egplus#{&}--selected {
    @media only screen {
      color: $monatsplaner-month--egplus--contrast-color;
      background-color: $monatsplaner-month--egplus--color;
    }
  }

  &--psb#{&}--selected {
    @media only screen {
      color: $monatsplaner-month--psb--contrast-color;
      background-color: $monatsplaner-month--psb--color;
    }
  }

  // Die Einschränkung ist notwendig, da sonst bei mobilen Geräten
  // nach dem deselektieren des Monats die Farbe aus dem :hover CSS
  // gesetzt wurde, un es aussah, als ob der Monat nicht deselektiert wurde.
  // Erst nach einem Klick auf einem anderen Monat wurde dieser aktualisiert.
  @media (hover: hover) {
    &:hover > button {
      text-decoration: none;
    }

    &--beg:hover {
      color: $monatsplaner-month--beg--contrast-color;
      background-color: $monatsplaner-month--beg--color;
    }

    &--egplus:hover {
      color: $monatsplaner-month--egplus--contrast-color;
      background-color: $monatsplaner-month--egplus--color;
    }

    &--psb:hover {
      color: $monatsplaner-month--psb--contrast-color;
      background-color: $monatsplaner-month--psb--color;
    }
  }

  &--psb#{&}--highlighted {
    text-decoration: none;
    @media only screen {
      color: $monatsplaner-month--psb--contrast-color;
      background-color: $monatsplaner-month--psb--color;
    }
  }

  &--selected {
    @media only screen {
      background-color: $monatsplaner-month--selected--color;
    }
  }
}
