@use "src/globals/scss" as *;

.#{nsp("monatsplaner-month")} {
  width: 100%;
  user-select: none;

  button {
    display: inline-block;
    font-size: inherit;
    line-height: inherit;
    width: 100%;
    background: none;
    border: none;
    cursor: pointer;
    text-align: center;
    text-decoration: underline;
    color: inherit;
  }

  &:focus-within {
    outline: px-to-rem(1) solid $color-primary;
  }

  &--beg#{&}--selected {
    @media only screen {
      color: $color-white;
      background-color: $color-BEG-base;
    }
  }

  &--egplus#{&}--selected {
    @media only screen {
      color: $color-text;
      background-color: $color-EGP-base;
    }
  }

  &--psb#{&}--selected {
    @media only screen {
      color: $color-text;
      background-color: $color-PSB-base;
    }
  }

  // Die Einschränkung ist notwendig, da sonst bei mobilen Geräten
  // nach dem deselektieren des Monats die Farbe aus dem :hover CSS
  // gesetzt wurde, un es aussah, als ob der Monat nicht deselektiert wurde.
  // Erst nach einem Klick auf einem anderen Monat wurde dieser aktualisiert.
  @media (hover: hover) {
    &:hover > button {
      text-decoration: none;
    }

    &--beg:hover {
      color: $color-white;
      background-color: $color-BEG-base;
    }

    &--egplus:hover {
      color: $color-text;
      background-color: $color-EGP-base;
    }

    &--psb:hover {
      color: $color-text;
      background-color: $color-PSB-base;
    }
  }

  &--psb#{&}--highlighted {
    text-decoration: none;
    @media only screen {
      color: $color-text;
      background-color: $color-PSB-base;
    }
  }

  &--selected {
    @media only screen {
      background-color: $color-primary;
    }
  }
}
