.anchor-top-top {
  /* stylelint-disable-next-line declaration-property-value-no-unknown */
  top: anchor(top);
}

.anchor-right-left {
  /* stylelint-disable-next-line declaration-property-value-no-unknown */
  right: anchor(left);
}

.anchor-flip-inline {
  position-try-fallbacks: flip-inline;
}
