#egr-root {
  /* will not prevent forced dark mode */
  color-scheme: only light;
  @apply mb-80;
}

#egr-root svg {
  display: inline;
  height: 1.3em;
  width: 1.3em;
  vertical-align: -0.3em;
  fill: currentColor;
}

#egr-root button,
input,
select,
label,
summary {
  cursor: pointer;
}

@media print {
  /* fit more content on an A4 page */
  @page {
    size: A3;
  }

  /* keep background colors even when users deactivate printing backgrounds */
  .bg-Basis,
  .bg-Plus,
  .bg-Bonus {
    print-color-adjust: exact;
  }
}
