#egr-root {
  @apply text-base;
}

#egr-root button,
#egr-root select,
#egr-root input {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

#egr-root h2 {
  @apply text-40;
}

#egr-root h3 {
  @apply text-28 font-regular;
}

#egr-root h4 {
  @apply text-24;
}

#egr-root h5 {
  @apply text-22;
}

#egr-root p {
  @apply max-w-[70ch];
}

#egr-root p + p {
  @apply mb-8;
}

#egr-root button {
  @apply text-20;
}
