@forward "allgemeine-angaben-form/allgemeine-angaben-form";
@forward "nachwuchs-form/nachwuchs-form";
@forward "einkommen-form/einkommen-form";
@forward "sidebar/sidebar";
@forward "page/page";
@forward "zeitraum/zeitraum";
