@use "sidebar.variables" as *;
@use "sass:math" as math;

.#{nsp("sidebar")} {
  list-style: none;
  counter-reset: item;
  margin: 0;
  padding: 0;

  @media (max-width: 1170px) {
    @apply mb-40;
  }

  &-list {
    list-style: none;
    margin: 0;
    padding: 0;

    @media (max-width: 1170px) {
      @apply bg-primary p-8;
      opacity: 0;
      position: absolute;
      height: 0;
      width: 100%;
      overflow: hidden;
    }

    &--open {
      @apply top-56 min-h-[25rem] border-0 border-b-2 border-solid border-white bg-primary-light px-24 py-16 text-16;
      opacity: 1;
      transition:
        opacity 0.5s,
        height 0.5s,
        background-color 0.5s;
      z-index: 1;
      left: 0;
    }

    &__step {
      counter-increment: item;
      pointer-events: none;
      position: relative;

      &:not(:last-child) {
        @apply mb-24;
      }

      &:not(:last-child)::after {
        @apply -bottom-24 left-16 min-h-24 min-w-1 bg-grey-dark;
        position: absolute;
        content: "";
      }

      &::before {
        @apply mr-16 size-32 border border-solid border-grey-dark leading-[2rem];
        display: inline-block;
        content: counter(item);
        text-align: center;
        border-radius: 50%;
        font-family: Arial, Helvetica, sans-serif;
      }

      &--done {
        pointer-events: all;
        cursor: pointer;

        &:before {
          @apply border-primary bg-primary text-white;
        }
      }

      &--current {
        &:before {
          @apply bg-primary-light;

          @media (max-width: 481px) {
            @apply bg-white;
          }
        }
      }
    }
  }

  &__collapse-btn {
    display: none;

    @media (max-width: 1170px) {
      @apply bg-primary-light text-black;
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      border: 0;

      &:focus,
      &:hover {
        @apply bg-primary-light text-black;
      }
    }

    strong {
      @apply mr-20;
    }
  }
}
