.egr-sidebar {
  @apply m-0 list-none p-0;

  counter-reset: item;

  @media (max-width: 1170px) {
    @apply mb-40;
  }

  &-list {
    @apply m-0 list-none p-0;

    @media (max-width: 1170px) {
      @apply invisible absolute h-[0] w-full overflow-hidden bg-primary p-8 opacity-0;
    }

    &--open {
      @apply top-56 min-h-[25rem] border-0 border-b-2 border-solid border-white bg-primary-light px-24 py-16 text-16;
      @apply visible left-0 z-[1] opacity-100;

      transition:
        opacity 0.5s,
        height 0.5s,
        background-color 0.5s;
    }

    &__step {
      @apply relative;

      counter-increment: item;

      &:not(:last-child) {
        @apply mb-24;
      }

      &:not(:last-child)::after {
        @apply absolute -bottom-24 left-16 min-h-24 min-w-1 bg-grey-dark content-[''];
      }

      &::before {
        @apply mr-16 inline-flex size-32 items-center justify-center rounded-full border border-solid border-grey-dark;
        content: counter(item);
        font-family: Arial, Helvetica, sans-serif;
      }

      &--done {
        &:before {
          @apply border-primary bg-primary text-white;
        }
      }

      &--current {
        &:before {
          @apply border-2 border-primary bg-primary-light;

          @media (max-width: 481px) {
            @apply bg-white;
          }
        }
      }
    }
  }

  &__collapse-btn {
    @apply hidden;

    @media (max-width: 1170px) {
      @apply flex w-full items-center justify-between border-none bg-primary-light text-black;

      &:focus,
      &:hover {
        @apply bg-primary-light text-black;
      }
    }

    strong {
      @apply mr-20;
    }
  }
}
