@use "sidebar.variables" as *;
@use "sass:math" as math;

.#{nsp("sidebar")} {
  list-style: none;
  counter-reset: item;
  margin: 0;
  padding: 0;
  color: $sidebar-list__step--color;
  @media (max-width: $breakpoint-desktop-xxl) {
    margin: $sidebar-tablet--margin;
  }

  &-list {
    list-style: none;
    margin: 0;
    padding: 0;
    @media (max-width: $breakpoint-desktop-xxl) {
      opacity: 0;
      position: absolute;
      height: 0;
      width: 100%;
      padding: $sidebar-list--padding;
      background-color: $sidebar-tablet--background-color;
      overflow: hidden;
    }

    &--open {
      opacity: 1;
      height: $sidebar-list--open--height;
      background-color: $sidebar--background-color;
      transition:
        opacity 0.5s,
        height 0.5s,
        background-color 0.5s;
      z-index: 1;
      top: px-to-rem(96);
      left: 0;
      padding: px-to-rem($spacer) px-to-rem($spacer-l);
      font-size: px-to-rem(16);
      border-bottom: px-to-rem(2) solid $color-white;
    }

    &__step {
      counter-increment: item;
      pointer-events: none;
      position: relative;

      &:not(:last-child) {
        margin-bottom: $sidebar-list__step--spacing;
      }

      &:not(:last-child)::after {
        position: absolute;
        content: "";
        bottom: -$sidebar-list__step--spacing;
        left: math.div($sidebar-list__step--counter-size, 2);
        height: $sidebar-list__step--spacing;
        width: $sidebar-border-width;
        background: $sidebar-border-color;
      }

      &::before {
        display: inline-block;
        content: counter(item);
        text-align: center;
        border: $sidebar-border-width solid $sidebar-border-color;
        width: $sidebar-list__step--counter-size;
        height: $sidebar-list__step--counter-size;
        line-height: $sidebar-list__step--counter-size;
        border-radius: 50%;
        margin-right: $sidebar-list__step--counter-spacing;
        font-family: Arial, Helvetica, sans-serif;
      }

      &--done {
        pointer-events: all;
        cursor: pointer;

        &:before {
          color: $sidebar-list__step--done--color;
          background: $sidebar-list__step--done--background-color;
          border-color: $sidebar-list__step--done--background-color;
        }
      }

      &--current {
        &:before {
          background: $sidebar-list__step--current--background-color;

          @media (max-width: $breakpoint-tablet) {
            background: $color-white;
          }
        }
      }

      a {
        text-decoration-line: none;
        color: inherit;
      }
    }
  }

  &__collapse-btn {
    display: none;
    @media (max-width: $breakpoint-desktop-xxl) {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      border: 0;
      background-color: $color-BEG-light;
      color: $color-text;

      &:focus,
      &:hover {
        background-color: $color-BEG-light;
        color: $color-text;
      }
    }

    strong {
      margin-right: px-to-rem(18);
    }

    @media (max-width: $breakpoint-tablet) {
      font-size: px-to-rem(19);
    }
  }
}
