.egr-button-group {
  @apply mt-56;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;

  &--step-one {
    justify-content: end;
  }

  @media print {
    display: none;
  }
}
