@use "button-group.variables" as *;

.#{nsp("button-group")} {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-top: px-to-rem($spacer-3xl);

  &--step-one {
    justify-content: end;
  }

  @media print {
    display: none;
  }
}
