@use "zusammenfassung-und-daten-elternteil.variables" as *;

.#{nsp("zusammenfassung-und-daten-elternteil")} {
  margin-bottom: rem($spacer-xl);
  padding: rem($spacer);
  background-color: $color-ZUD;

  &:last-child {
    margin-bottom: 0;
  }
}

.#{nsp("zusammenfassung-und-daten-buttons")} {
  display: flex;
  justify-content: space-between;
  margin-top: rem($spacer-3xl);

  &__backwards {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-right: rem(20);
  }

  @media only screen and (max-width: 525px) {
    flex-wrap: wrap;
    justify-content: end;

    &__backwards {
      margin-bottom: rem(10);
      margin-right: 0;
    }
  }
}
