@use "split.variables" as *;

.#{nsp("split")} {
  display: flex;
  flex-direction: column;

  @media (min-width: $split-desktop-breakpoint) {
    flex-direction: row;
    justify-content: space-between;
  }
}
