name: Check for broken links

on:
  schedule:
    - cron: "0 6-18 * * *" # Run every hour between 7 AM and 7 PM (Berlin time)

jobs:
  url-check:
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: check urls
        run: |
          ls ./src/application
          grep --no-messages --recursive --no-filename --only-matching --extended-regexp \
            "(http|https)://[a-zA-Z0-9./?!=_-]*" \
            ./src/application/**/* \
            | \
            grep --extended-regexp --line-regexp --invert-match \
            "http://localhost|http://www.w3.org/2000/svg|https://test.tld/tag-manager" \
            | \
            sort \
            | \
            uniq \
            | \
            xargs -t -n1 \
            sh -c 'curl --head --fail-with-body $0 || exit 255'

      - name: Send failure to Slack
        uses: digitalservicebund/notify-on-failure-gha@66c485757701f8d5dbee32f24df38d904ca693ba
        if: failure()
        with:
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
