name: Check for broken links

on:
  # schedule:
  #   - cron: "0 6-18 * * *" # Run every hour between 7 AM and 7 PM (Berlin time)
  workflow_dispatch:

jobs:
  url-check:
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: check urls
        run: |
          ls ./src/application
          grep -s --recursive --no-filename --only-matching --extended-regexp \
            "(http|https)://[a-zA-Z0-9./?=_-]*" \
            ./src/application/**/* | xargs -t -n1 \
            sh -c 'curl --fail-with-body $0 || exit 255'

      - name: Send failure to Slack
        uses: digitalservicebund/notify-on-failure-gha@66c485757701f8d5dbee32f24df38d904ca693ba
        if: failure()
        with:
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
          payload: |
            { "text": "A link is broken." }
