name: Check for broken links

on:
  schedule:
    - cron: "0 8-18/2 * * *" # Run every other hour between 9 AM and 7 PM (Berlin time)

jobs:
  url-check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Find all strings starting with https in the pdfAntrag feature
        run: grep -rhoE --include=\*.ts  'https?://[^"'\'' >]+' ./src/pdfAntrag > pdf-links.txt

      - name: Find all values of href tags used within the src directory
        run: grep -rhoE 'href="[^"]+"' ./src | grep -v 'href="/"$' | sed -E 's/^href="//;s/"$//' | sed 's/&.*//' > href-links.txt

      - name: Fetch first byte of each url to validate accessibility without downloading content
        run: cat pdf-links.txt href-links.txt | xargs -n 1 -t sh -c "curl --range 0-1 --silent --retry 1 --fail -L \"\$1\" -o /dev/null 2> /dev/null || exit 255" sh

      - name: Send failure to Slack
        uses: digitalservicebund/notify-on-failure-gha@66c485757701f8d5dbee32f24df38d904ca693ba
        if: failure()
        with:
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
