name: CI
on:
  push:
    branches: [main]

permissions:
  contents: write
  id-token: write

concurrency:
  group: "pages"
  cancel-in-progress: true

defaults:
  run:
    shell: bash

jobs:
  lint-and-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version-file: package.json
          cache: npm

      - name: install dependencies
        run: npm ci

      - name: lint and test
        run: source .env.test && npm run test-all

  build:
    runs-on: ubuntu-latest
    outputs:
      artifact_name: assets
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version-file: package.json
          cache: npm

      - name: install dependencies
        run: npm ci

      - name: build assets
        run: npm run build

      - name: upload artifact
        uses: actions/upload-artifact@v4
        with:
          path: ./dist
          name: assets

  deploy:
    needs:
      - lint-and-test
      - build
    uses: ./.github/workflows/deploy-to-github-pages.yml
    with:
      path: main
      artifact_name: ${{ needs.build.outputs.artifact_name }}
    secrets: inherit

  generate-sbom:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: generate bill
        uses: advanced-security/generate-sbom-action@v1 # trusted as part of GitHub organization
        id: generate-sbom

      - name: upload bill as artifact
        uses: actions/upload-artifact@v4.3.2
        with:
          path: ${{ steps.generate-sbom.outputs.fileName }}
          name: SBOM

  audit-licenses:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version-file: package.json
          cache: npm

      - name: Install Dependencies
        run: npm ci

      - name: Audit Licenses
        run: npm run audit-licenses
