name: CI
on:
  push:
    branches: [main]

permissions:
  contents: write
  id-token: write

concurrency:
  group: "pages"
  cancel-in-progress: true

jobs:
  basics:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version-file: package.json
          cache: npm

      - name: Build egr
        env:
          REACT_APP_USER_TRACKING_TAG_MANAGER_SOURCE: ${{ secrets.USER_TRACKING_TAG_MANAGER_SOURCE }}
        run: source .env.test && npm ci && npm run test-all && npm run build

      - name: Generate software bill of materials
        uses: advanced-security/generate-sbom-action@v1 # advanced-security org is part of GitHub, thus not considered 3rd-party..
        id: sbom
        env:
          GITHUB_TOKEN: ${{ github.token }}

      - name: Upload artifact for software bill of materials
        uses: actions/upload-artifact@v4.3.2
        with:
          path: ${{steps.sbom.outputs.fileName }}
          name: "SBOM"

  deploy:
    needs: basics
    uses: ./.github/workflows/deploy-to-github-pages.yml
    with:
      path: main
    secrets: inherit

  audit-licenses:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version-file: package.json
          cache: npm

      - name: Install Dependencies
        run: npm ci

      - name: Audit Licenses
        run: npm run audit-licenses
