name: Create Release

on: workflow_dispatch

jobs:
  release:
    runs-on: ubuntu-24.04
    timeout-minutes: 15
    steps:
      - uses: actions/checkout@v5

      - uses: ./.github/actions/cached-node-install

      - name: Build elterngeldrechner for production
        run: npm run build:production
        env:
          VITE_APP_USER_TRACKING_TAG_MANAGER_SOURCE: ${{ secrets.USER_TRACKING_TAG_MANAGER_SOURCE }}
          EGR_BUILD_VERSION_HASH: ${{ github.sha }}
          VITE_BASE_PATH: /resource

      - name: Audit licenses
        run: npm run audit-licenses

      - name: Generate the next version
        uses: orhun/git-cliff-action@d77b37db2e3f7398432d34b72a12aa3e2ba87e51
        id: version
        with:
          args: --bumped-version

      - name: Generate the changelog
        uses: orhun/git-cliff-action@d77b37db2e3f7398432d34b72a12aa3e2ba87e51
        id: changelog
        with:
          args: --unreleased

      - name: Create the release
        uses: softprops/action-gh-release@aec2ec56f94eb8180ceec724245f64ef008b89f5
        with:
          tag_name: ${{ steps.version.outputs.content }}
          body: ${{ steps.changelog.outputs.content }}
          files: dist/assets/*

      - name: Report Deployment
        uses: digitalservicebund/track-deployment@5a2815e150e1268983aac5ca04c8c046ed1b614a
        with:
          project: elterngeldrechner
          environment: production
          metrics_deployment_webhook_url: ${{ secrets.METRICS_DEPLOYMENT_WEBHOOK_URL }}
          metrics_webhook_token: ${{ secrets.METRICS_WEBHOOK_TOKEN }}

      - name: Create Metabase release event
        env:
          METABASE_API_KEY: ${{ secrets.EGR_METABASE_API_KEY }}
          METABASE_DOMAIN: ${{ secrets.EGR_METABASE_DOMAIN }}
          RELEASE_NAME: ${{ steps.version.outputs.content }}
        run: |
          # Get the current timestamp in ISO 8601 format
          TIMESTAMP=$(date --utc +"%Y-%m-%dT%H:%M:%S.000+00:00")

          curl -X POST "https://${METABASE_DOMAIN}/api/timeline-event/" \
            -H "x-api-key: $METABASE_API_KEY" \
            -H "Content-Type: application/json" \
            -d '{
                  "name": "'"$RELEASE_NAME"'",
                  "description": null,
                  "timestamp": "'"$TIMESTAMP"'",
                  "timeline_id": 1,
                  "icon": "cloud",
                  "timezone": "Europe/Berlin",
                  "time_matters": false,
                  "archived": false,
                  "source": "collections"
                }'
