name: Create Release Assets

on:
  release:
    types: [created]

jobs:
  release:
    runs-on: ubuntu-24.04
    timeout-minutes: 15
    steps:
      - uses: actions/checkout@v5

      - uses: ./.github/actions/cached-node-install

      - name: Build egr
        run: npm run build:production
        env:
          VITE_APP_USER_TRACKING_TAG_MANAGER_SOURCE: ${{ secrets.USER_TRACKING_TAG_MANAGER_SOURCE }}
          EGR_BUILD_VERSION_HASH: ${{ github.sha }}
          VITE_BASE_PATH: /resource

      - name: Audit Licenses
        run: npm run audit-licenses

      - name: Upload assets to release
        uses: softprops/action-gh-release@62c96d0c4e8a889135c1f3a25910db8dbe0e85f7
        with:
          files: dist/assets/*

      - name: Report Deployment
        uses: digitalservicebund/track-deployment@5a2815e150e1268983aac5ca04c8c046ed1b614a
        with:
          project: elterngeldrechner
          environment: production
          metrics_deployment_webhook_url: ${{ secrets.METRICS_DEPLOYMENT_WEBHOOK_URL }}
          metrics_webhook_token: ${{ secrets.METRICS_WEBHOOK_TOKEN }}

      - name: Create metabase release event
        env:
          METABASE_API_KEY: ${{ secrets.EGR_METABASE_API_KEY }}
          METABASE_DOMAIN: ${{ secrets.EGR_METABASE_DOMAIN }}
        run: |
          # Get the current timestamp in the required format (ISO 8601 with timezone)
          TIMESTAMP=$(date --utc +"%Y-%m-%dT%H:%M:%S.000+00:00")

          curl -X POST "https://${METABASE_DOMAIN}/api/timeline-event/" \
            -H "x-api-key: $METABASE_API_KEY" \
            -H "Content-Type: application/json" \
            -d '{
                  "name": "Release",
                  "description": null,
                  "timestamp": "'"$TIMESTAMP"'",
                  "timeline_id": 1,
                  "icon": "cloud",
                  "timezone": "Europe/Berlin",
                  "time_matters": false,
                  "archived": false,
                  "source": "collections"
                }'
