name: Create Release Assets

on:
  release:
    types: [created]

jobs:
  release:
    runs-on: ubuntu-24.04
    timeout-minutes: 15
    steps:
      - uses: actions/checkout@v5

      - uses: ./.github/actions/cached-node-install

      - name: Build egr
        run: npm run build:production
        env:
          VITE_APP_USER_TRACKING_TAG_MANAGER_SOURCE: ${{ secrets.USER_TRACKING_TAG_MANAGER_SOURCE }}
          EGR_BUILD_VERSION_HASH: ${{ github.sha }}
          VITE_BASE_PATH: /resource

      - name: Audit Licenses
        run: npm run audit-licenses

      - name: Upload assets to release
        uses: softprops/action-gh-release@62c96d0c4e8a889135c1f3a25910db8dbe0e85f7
        with:
          files: dist/assets/*

      - name: Report Deployment
        uses: digitalservicebund/track-deployment@5a2815e150e1268983aac5ca04c8c046ed1b614a
        with:
          project: elterngeldrechner
          environment: production
          metrics_deployment_webhook_url: ${{ secrets.METRICS_DEPLOYMENT_WEBHOOK_URL }}
          metrics_webhook_token: ${{ secrets.METRICS_WEBHOOK_TOKEN }}
