name: Deploy to GitHub pages

on:
  workflow_dispatch:
    inputs:
      path:
        description: relative URL path where to put assets (e.g. '/feature/fancy-stuff')
        required: true
        type: string

  workflow_call:
    inputs:
      path:
        description: relative URL path where to put assets (e.g. '/feature/fancy-stuff')
        required: true
        type: string

      artifact_name:
        description: |
          name of an already uploaded artifact to this run that contains the page build  
          if defined skips building and downloads the artifact instead
        type: string
        required: false

permissions:
  contents: write

defaults:
  run:
    shell: bash

jobs:
  build:
    if: "${{ inputs.artifact_name == '' }}"
    runs-on: ubuntu-latest
    outputs:
      artifact_name: assets
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version-file: package.json
          cache: npm

      - name: build page assets
        run: |
          set -ex
          npm ci
          npm run build

      - name: upload artifact
        uses: actions/upload-artifact@v4
        with:
          path: ./build
          name: assets

  publish:
    needs: build
    if: ${{ always() }}
    runs-on: ubuntu-latest
    env:
      GIT_REMOTE_AUTHENTICATED_URL: https://${{ github.token }}@github.com/${{ github.repository }}
      GITHUB_PAGES_BRANCH_NAME: gh-pages # Configuration value of repository.
      PAGE_PATH: ./${{ inputs.path }}
      GIT_CONFIG_USER_NAME: ${{ github.actor }}
      GIT_CONFIG_USER_EMAIL: 41898282+github-actions[bot]@users.noreply.github.com
      GIT_COMMIT_MESSAGE: "Automated deployment to GitHub pages (${{ inputs.path }} | ${{ github.ref_name }} | ${{ github.sha }})"

    steps:
      - uses: actions/checkout@v4
        with:
          ref: gh-pages

      - name: clean up (potential) old version
        run: rm --recursive --force "$PAGE_PATH"

      - name: download artifact with assets to path
        uses: actions/download-artifact@v4
        id: download-artifact
        with:
          name: ${{ inputs.artifact_name != '' && inputs.artifact_name || needs.build.outputs.artifact_name }}
          path: ${{ env.PAGE_PATH }}

      - name: commit and push
        run: |
          set -ex
          git config user.name "$GIT_CONFIG_USER_NAME"
          git config user.email "$GIT_CONFIG_USER_EMAIL"
          git remote set-url --push origin "$GIT_REMOTE_AUTHENTICATED_URL"
          git add "$PAGE_PATH"
          git diff-index --cached --quiet HEAD ||
            git commit --message="$GIT_COMMIT_MESSAGE" &&
            git push

      - name: report deployment for statistics
        uses: digitalservicebund/track-deployment@5a2815e150e1268983aac5ca04c8c046ed1b614a
        with:
          project: elterngeldrechner
          environment: staging
          metrics_deployment_webhook_url: ${{ secrets.METRICS_DEPLOYMENT_WEBHOOK_URL }}
          metrics_webhook_token: ${{ secrets.METRICS_WEBHOOK_TOKEN }}
