name: Deploy to GitHub pages

on:
  workflow_dispatch:
    inputs:
      path:
        description: relative URL path where to put assets (e.g. '/feature/fancy-stuff/') [MUST have final slash]
        required: true
        type: string

permissions:
  contents: write

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0 # Everything, including GitHub pages branch.

      - uses: actions/setup-node@v4
        with:
          node-version-file: package.json
          cache: npm

      - name: Install dependencies
        run: npm ci

      - name: Build
        run: npm run build

      - name: Deploy to GitHub pages
        uses: ./.github/actions/deploy-to-github-pages
        with:
          path: ${{ inputs.path }}
