name: Nightly E2E Test

on: push

jobs:
  e2e-tests:
    runs-on: ubuntu-latest

    timeout-minutes: 15

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - uses: ./.github/actions/fetch-version-hash
        id: fetch-version-hash
        with:
          url: ${{ vars.PRODUCTION_URL }}

      - name: Git checkout deployed release
        run: git checkout ${{ steps.fetch-version-hash.outputs.version-hash }}

      - name: Restore .github directory
        run: git checkout $GITHUB_SHA -- .github playwright.config.ts

      - uses: ./.github/actions/cached-node-install

      - uses: ./.github/actions/cached-playwright-setup

      - name: Run Playwright e2e tests
        run: npm run test-e2e
        env:
          PLAYWRIGHT_REPORTER: html
          PLAYWRIGHT_SKIP_SERVER: true
          PLAYWRIGHT_URL: ${{ vars.PRODUCTION_URL }}
          PLAYWRIGHT_PORT: 80

      - name: Upload playwright report
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: playwright-report
          path: playwright-report
          retention-days: 1
