name: Release
on:
  push:
    tags:
      - "*"

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Build egr
        run: npm install && npm run build

      - name: Create archive for build assets
        working-directory: build
        run: zip -r build-assets.zip .

      - name: Create new release
        uses: softprops/action-gh-release@v2
        with:
          files: build/build-assets.zip
