name: Release

on:
  release:
    types: [created]

jobs:
  release:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v4

      - uses: ./.github/actions/cached-node-install

      - name: Build egr
        run: npm run build:production
        env:
          VITE_APP_USER_TRACKING_TAG_MANAGER_SOURCE: ${{ secrets.USER_TRACKING_TAG_MANAGER_SOURCE }}
          EGR_BUILD_VERSION_HASH: ${{ github.sha }}
          VITE_BASE_PATH: /resource

      - name: Audit Licenses
        run: npm run audit-licenses

      - name: Generate date for archive
        run: echo ARCHIVE_DATE="$(date '+%Y-%m-%d')" >> "$GITHUB_ENV"

      # The hosting provider expects an archive containing exactly one javascript file
      # and one css file. Both files will be re-bundled with the rest of the code by the
      # cms. The archive must not include any additional assets such as images or documents.

      # Reference: /architecture-decision-records/0005-bundle-architecture.md

      - name: Verify build assets
        working-directory: dist/assets
        run: |
          js_count=$(find . -maxdepth 1 -type f -name 'index-*.js' | wc -l)
          css_count=$(find . -maxdepth 1 -type f -name 'index-*.css' | wc -l)
          total_count=$(find . -maxdepth 1 -type f | wc -l)

          if [ "$js_count" -ne 1 ] || [ "$css_count" -ne 1 ] || [ "$total_count" -ne 2 ]; then
            echo "Error: Directory must contain exactly one index-*.js and one index-*.css file (2 files total)"
            exit 1
          else
            echo "Asset check passed"
          fi

      - name: Create archive for static build assets
        working-directory: dist/assets
        run: zip -r "EGR-${{ env.ARCHIVE_DATE }}.zip" .

      - name: Upload assets to release
        uses: softprops/action-gh-release@c43d7637b9b9ce3e953168c325d27253a5d48d8e
        with:
          files: dist/assets/EGR-${{ env.ARCHIVE_DATE }}.zip

      - name: Report Deployment
        uses: digitalservicebund/track-deployment@5a2815e150e1268983aac5ca04c8c046ed1b614a
        with:
          project: elterngeldrechner
          environment: production
          metrics_deployment_webhook_url: ${{ secrets.METRICS_DEPLOYMENT_WEBHOOK_URL }}
          metrics_webhook_token: ${{ secrets.METRICS_WEBHOOK_TOKEN }}
