name: Smoke Test Nightly

on:
  schedule:
    - cron: "0 5 * * *" # 6 AM Berlin time (during standard time, not daylight saving time)

jobs:
  smoke-test:
    runs-on: ubuntu-latest
    timeout-minutes: 15
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - uses: ./.github/actions/fetch-version-hash
        id: fetch-version-hash
        with:
          url: ${{ vars.PRODUCTION_URL }}

      - name: Git checkout deployed release
        run: git checkout ${{ steps.fetch-version-hash.outputs.version-hash }}

      - name: Restore the .github directory to enable modifications to actions
        run: git checkout ${{ github.sha }} -- .github playwright.config.ts

      - uses: ./.github/actions/cached-node-install

      - uses: ./.github/actions/cached-playwright-setup

      - name: Run playwright smoke test
        run: npm run test-e2e -- tests/cases/smokeTest.spec.ts
        env:
          PLAYWRIGHT_REPORTER: html
          PLAYWRIGHT_SKIP_SERVER: true
          PLAYWRIGHT_URL: ${{ vars.PRODUCTION_URL }}
          PLAYWRIGHT_PORT: 80

      - name: Upload playwright report
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: playwright-report
          path: playwright-report
          retention-days: 1

      - name: Send failure to Slack
        uses: digitalservicebund/notify-on-failure-gha@66c485757701f8d5dbee32f24df38d904ca693ba
        if: ${{ failure() }}
        with:
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
