name: Vulnerability Scan

on:
  schedule:
    - cron: 0 0 * * *
  workflow_dispatch:

jobs:
  scan-for-vulnerabilities:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Run Trivy vulnerability scanner
        uses: aquasecurity/trivy-action@062f2592684a31eb3aa050cc61e7ca1451cecd3d
        with:
          scan-type: fs
          scan-ref: .
          format: sarif
          output: trivy-scan-result.sarif

      - name: Check for concerning vulnerabilies
        run: grep --quiet --extended-regexp 'HIGH|CRITICAL' && exit 1 || exit 0

      - name: Upload results to GitHub security tab
        uses: github/codeql-action/upload-sarif@v3
        if: ${{ always() && github.ref == 'refs/heads/main' }}
        with:
          sarif_file: "trivy-scan-result.sarif"
