name: Vulnerability Scan

on:
  schedule:
    - cron: 0 0 * * *
  workflow_dispatch:

jobs:
  scan-for-vulnerabilities:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Run Trivy vulnerability scanner
        uses: aquasecurity/trivy-action@f781cce5aab226378ee181d764ab90ea0be3cdd8
        with:
          scan-type: fs
          scan-ref: .
          format: sarif
          output: trivy-scan-result.sarif

      - name: Check for concerning vulnerabilies
        run: grep --quiet --extended-regexp 'HIGH|CRITICAL' trivy-scan-result.sarif && exit 1 || exit 0
