name: Vulnerability Scan

on:
  schedule:
    - cron: 0 0 * * *
  workflow_dispatch: {}

jobs:
  scan-for-vulnerabilities:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v5

      - name: Run Trivy vulnerability scanner
        uses: aquasecurity/trivy-action@b6643a29fecd7f34b3597bc6acb0a98b03d33ff8 # v0.33.1
        with:
          scan-type: fs
          scan-ref: .
          format: sarif
          severity: "HIGH,CRITICAL"
          limit-severities-for-sarif: true
          exit-code: 1
