@forward "src/globals/scss";
@use "src/globals/scss" as egr;

$monatsplaner-month--beg--color: egr.$color-BEG-base !default;
$monatsplaner-month--beg--contrast-color: egr.$color-white !default;

$monatsplaner-month--egplus--color: egr.$color-EGP-base !default;
$monatsplaner-month--egplus--contrast-color: egr.$color-white !default;

$monatsplaner-month--psb--color: egr.$color-PSB-base !default;
$monatsplaner-month--psb--contrast-color: egr.$color-white !default;

$monatsplaner-month--selected--color: egr.$color-primary !default;
