@use "monatsplaner-month.variables" as *;

.#{nsp("monatsplaner-month")} {
  width: 100%;
  user-select: none;

  &__checkbox {
    position: absolute;
    opacity: 0;
  }

  label {
    display: inline-block;
    width: 100%;
    cursor: pointer;
    text-align: center;
    text-decoration: underline;
  }

  &__checkbox:checked + label {
    text-decoration: none;
  }

  &:focus-within {
    outline: rem(1) solid $color-primary;
  }

  &--beg > label {
    color: $monatsplaner-month--beg--color;
  }

  &--beg > &__checkbox:checked + label {
    color: $monatsplaner-month--beg--contrast-color;
    background-color: $monatsplaner-month--beg--color;
  }

  &--egplus > &__checkbox:checked + label {
    color: $monatsplaner-month--egplus--contrast-color;
    background-color: $monatsplaner-month--egplus--color;
  }

  &--psb > &__checkbox:checked + label {
    color: $monatsplaner-month--psb--contrast-color;
    background-color: $monatsplaner-month--psb--color;
  }

  // Die Einschränkung ist notwendig, da sonst bei mobilen Geräten
  // nach dem deselektieren des Monats die Farbe aus dem :hover CSS
  // gesetzt wurde, un es aussah, als ob der Monat nicht deselektiert wurde.
  // Erst nach einem Klick auf einem anderen Monat wurde dieser aktualisiert.
  @media (hover: hover) {
    &:hover > label {
      text-decoration: none;
    }

    &--beg:hover > label {
      color: $monatsplaner-month--beg--contrast-color;
      background-color: $monatsplaner-month--beg--color;
    }

    &--egplus:hover > label {
      color: $monatsplaner-month--egplus--contrast-color;
      background-color: $monatsplaner-month--egplus--color;
    }

    &--psb:hover > label {
      color: $monatsplaner-month--psb--contrast-color;
      background-color: $monatsplaner-month--psb--color;
    }
  }

  &--psb#{&}--highlighted > label {
    text-decoration: none;
    color: $monatsplaner-month--psb--contrast-color;
    background-color: $monatsplaner-month--psb--color;
  }

  &--selected {
    background-color: $monatsplaner-month--selected--color;
  }
}
